In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

In [2]:
main_df = pd.DataFrame()

In [3]:
t = pd.Series(pd.date_range(start= '2018-01-01 00:00:00', end= '2023-01-01 23:00:00', freq= 'H'))
main_df.insert(0, 'Timestamp', t)
main_df

                Timestamp
0     2018-01-01 00:00:00
1     2018-01-01 01:00:00
2     2018-01-01 02:00:00
3     2018-01-01 03:00:00
4     2018-01-01 04:00:00
...                   ...
43843 2023-01-01 19:00:00
43844 2023-01-01 20:00:00
43845 2023-01-01 21:00:00
43846 2023-01-01 22:00:00
43847 2023-01-01 23:00:00

[43848 rows x 1 columns]

Arthur

In [4]:
df = pd.read_csv('Arthur Climate Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [5]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  43848 non-null  datetime64[ns]
 1   Value      43013 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 685.2 KB

In [26]:
df.isna().sum()

Timestamp      0
Value        835
dtype: int64

In [33]:
df.isnull().sum()

Timestamp      0
Value        835
dtype: int64

In [6]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

                Timestamp  Value
0     2018-01-01 00:00:00    0.0
1     2018-01-01 01:00:00    0.0
2     2018-01-01 02:00:00    0.0
3     2018-01-01 03:00:00    0.0
4     2018-01-01 04:00:00    0.0
...                   ...    ...
43843 2023-01-01 19:00:00    0.6
43844 2023-01-01 20:00:00    0.2
43845 2023-01-01 21:00:00    0.0
43846 2023-01-01 22:00:00    0.2
43847 2023-01-01 23:00:00    0.0

[43848 rows x 2 columns]

In [7]:
main_df = main_df.rename(columns= {'Value': 'Arthur'})
main_df

                Timestamp  Arthur
0     2018-01-01 00:00:00     0.0
1     2018-01-01 01:00:00     0.0
2     2018-01-01 02:00:00     0.0
3     2018-01-01 03:00:00     0.0
4     2018-01-01 04:00:00     0.0
...                   ...     ...
43843 2023-01-01 19:00:00     0.6
43844 2023-01-01 20:00:00     0.2
43845 2023-01-01 21:00:00     0.0
43846 2023-01-01 22:00:00     0.2
43847 2023-01-01 23:00:00     0.0

[43848 rows x 2 columns]

In [35]:
main_df.isna().sum()

Timestamp      0
Arthur       835
dtype: int64

Baden

In [37]:
df = pd.read_csv('Baden Climate Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [38]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [39]:
df.isna().sum()

Timestamp      0
Value        530
dtype: int64

In [40]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

                Timestamp  Arthur  Value
0     2018-01-01 00:00:00     0.0    0.0
1     2018-01-01 01:00:00     0.0    0.0
2     2018-01-01 02:00:00     0.0    0.0
3     2018-01-01 03:00:00     0.0    0.0
4     2018-01-01 04:00:00     0.0    0.0
...                   ...     ...    ...
43843 2023-01-01 19:00:00     0.6    0.0
43844 2023-01-01 20:00:00     0.2    0.0
43845 2023-01-01 21:00:00     0.0    0.0
43846 2023-01-01 22:00:00     0.2    0.0
43847 2023-01-01 23:00:00     0.0    0.0

[43848 rows x 3 columns]

In [41]:
main_df = main_df.rename(columns= {'Value': 'Baden'})
main_df

                Timestamp  Arthur  Baden
0     2018-01-01 00:00:00     0.0    0.0
1     2018-01-01 01:00:00     0.0    0.0
2     2018-01-01 02:00:00     0.0    0.0
3     2018-01-01 03:00:00     0.0    0.0
4     2018-01-01 04:00:00     0.0    0.0
...                   ...     ...    ...
43843 2023-01-01 19:00:00     0.6    0.0
43844 2023-01-01 20:00:00     0.2    0.0
43845 2023-01-01 21:00:00     0.0    0.0
43846 2023-01-01 22:00:00     0.2    0.0
43847 2023-01-01 23:00:00     0.0    0.0

[43848 rows x 3 columns]

In [42]:
main_df.isna().sum()

Timestamp      0
Arthur       835
Baden        530
dtype: int64

Brant Climate Station

In [43]:
df = pd.read_csv('Brant Climate Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [44]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [45]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

                Timestamp  Arthur  Baden  Value
0     2018-01-01 00:00:00     0.0    0.0    0.0
1     2018-01-01 01:00:00     0.0    0.0    0.0
2     2018-01-01 02:00:00     0.0    0.0    0.0
3     2018-01-01 03:00:00     0.0    0.0    0.0
4     2018-01-01 04:00:00     0.0    0.0    0.0
...                   ...     ...    ...    ...
43843 2023-01-01 19:00:00     0.6    0.0    0.0
43844 2023-01-01 20:00:00     0.2    0.0    0.2
43845 2023-01-01 21:00:00     0.0    0.0    0.2
43846 2023-01-01 22:00:00     0.2    0.0    0.0
43847 2023-01-01 23:00:00     0.0    0.0    0.0

[43848 rows x 4 columns]

In [46]:
main_df = main_df.rename(columns= {'Value': 'Brant CS'})
main_df

                Timestamp  Arthur  Baden  Brant CS
0     2018-01-01 00:00:00     0.0    0.0       0.0
1     2018-01-01 01:00:00     0.0    0.0       0.0
2     2018-01-01 02:00:00     0.0    0.0       0.0
3     2018-01-01 03:00:00     0.0    0.0       0.0
4     2018-01-01 04:00:00     0.0    0.0       0.0
...                   ...     ...    ...       ...
43843 2023-01-01 19:00:00     0.6    0.0       0.0
43844 2023-01-01 20:00:00     0.2    0.0       0.2
43845 2023-01-01 21:00:00     0.0    0.0       0.2
43846 2023-01-01 22:00:00     0.2    0.0       0.0
43847 2023-01-01 23:00:00     0.0    0.0       0.0

[43848 rows x 4 columns]

In [47]:
df.isna().sum()

Timestamp      0
Value        103
dtype: int64

In [48]:
main_df.isna().sum()

Timestamp      0
Arthur       835
Baden        530
Brant CS     103
dtype: int64

Burford

In [49]:
df = pd.read_csv('Burford Climate Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [50]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [51]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

                Timestamp  Arthur  Baden  Brant CS  Value
0     2018-01-01 00:00:00     0.0    0.0       0.0    0.0
1     2018-01-01 01:00:00     0.0    0.0       0.0    0.0
2     2018-01-01 02:00:00     0.0    0.0       0.0    0.0
3     2018-01-01 03:00:00     0.0    0.0       0.0    0.0
4     2018-01-01 04:00:00     0.0    0.0       0.0    0.0
...                   ...     ...    ...       ...    ...
43843 2023-01-01 19:00:00     0.6    0.0       0.0    0.0
43844 2023-01-01 20:00:00     0.2    0.0       0.2    0.4
43845 2023-01-01 21:00:00     0.0    0.0       0.2    0.0
43846 2023-01-01 22:00:00     0.2    0.0       0.0    0.0
43847 2023-01-01 23:00:00     0.0    0.0       0.0    0.0

[43848 rows x 5 columns]

In [52]:
main_df = main_df.rename(columns= {'Value': 'Burford'})
main_df

                Timestamp  Arthur  Baden  Brant CS  Burford
0     2018-01-01 00:00:00     0.0    0.0       0.0      0.0
1     2018-01-01 01:00:00     0.0    0.0       0.0      0.0
2     2018-01-01 02:00:00     0.0    0.0       0.0      0.0
3     2018-01-01 03:00:00     0.0    0.0       0.0      0.0
4     2018-01-01 04:00:00     0.0    0.0       0.0      0.0
...                   ...     ...    ...       ...      ...
43843 2023-01-01 19:00:00     0.6    0.0       0.0      0.0
43844 2023-01-01 20:00:00     0.2    0.0       0.2      0.4
43845 2023-01-01 21:00:00     0.0    0.0       0.2      0.0
43846 2023-01-01 22:00:00     0.2    0.0       0.0      0.0
43847 2023-01-01 23:00:00     0.0    0.0       0.0      0.0

[43848 rows x 5 columns]

In [53]:
df.isna().sum()

Timestamp     0
Value        25
dtype: int64

In [54]:
main_df.isna().sum()

Timestamp      0
Arthur       835
Baden        530
Brant CS     103
Burford       25
dtype: int64

Byng Island

In [55]:
df = pd.read_csv('Byung Island.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [56]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [57]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

                Timestamp  Arthur  Baden  Brant CS  Burford  Value
0     2018-01-01 00:00:00     0.0    0.0       0.0      0.0    0.0
1     2018-01-01 01:00:00     0.0    0.0       0.0      0.0    0.0
2     2018-01-01 02:00:00     0.0    0.0       0.0      0.0    0.0
3     2018-01-01 03:00:00     0.0    0.0       0.0      0.0    0.0
4     2018-01-01 04:00:00     0.0    0.0       0.0      0.0    0.0
...                   ...     ...    ...       ...      ...    ...
43843 2023-01-01 19:00:00     0.6    0.0       0.0      0.0    0.0
43844 2023-01-01 20:00:00     0.2    0.0       0.2      0.4    0.0
43845 2023-01-01 21:00:00     0.0    0.0       0.2      0.0    0.2
43846 2023-01-01 22:00:00     0.2    0.0       0.0      0.0    0.0
43847 2023-01-01 23:00:00     0.0    0.0       0.0      0.0    0.0

[43848 rows x 6 columns]

In [58]:
main_df = main_df.rename(columns= {'Value': 'Byung Island'})
main_df

                Timestamp  Arthur  Baden  Brant CS  Burford  Byung Island
0     2018-01-01 00:00:00     0.0    0.0       0.0      0.0           0.0
1     2018-01-01 01:00:00     0.0    0.0       0.0      0.0           0.0
2     2018-01-01 02:00:00     0.0    0.0       0.0      0.0           0.0
3     2018-01-01 03:00:00     0.0    0.0       0.0      0.0           0.0
4     2018-01-01 04:00:00     0.0    0.0       0.0      0.0           0.0
...                   ...     ...    ...       ...      ...           ...
43843 2023-01-01 19:00:00     0.6    0.0       0.0      0.0           0.0
43844 2023-01-01 20:00:00     0.2    0.0       0.2      0.4           0.0
43845 2023-01-01 21:00:00     0.0    0.0       0.2      0.0           0.2
43846 2023-01-01 22:00:00     0.2    0.0       0.0      0.0           0.0
43847 2023-01-01 23:00:00     0.0    0.0       0.0      0.0           0.0

[43848 rows x 6 columns]

In [59]:
df.isna().sum()

Timestamp    0
Value        0
dtype: int64

In [60]:
main_df.isna().sum()

Timestamp         0
Arthur          835
Baden           530
Brant CS        103
Burford          25
Byung Island      0
dtype: int64

Conestogo

In [61]:
df = pd.read_csv('Conestogo.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [62]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [63]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
main_df = main_df.rename(columns= {'Value': 'Conestogo'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
df.isna().sum()

Timestamp      0
Value        827
dtype: int64

In [66]:
main_df.isna().sum()

Timestamp         0
Arthur          835
Baden           530
Brant CS        103
Burford          25
Byung Island      0
Conestogo       827
dtype: int64

Dundalk

In [67]:
df = pd.read_csv('Dundalk.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    NaN
1  2018-01-01T01:00:00    NaN
2  2018-01-01T02:00:00    NaN
3  2018-01-01T03:00:00    NaN
4  2018-01-01T04:00:00    NaN

In [68]:
df.columns

Index(['Timestamp', 'Value'], dtype='object')

In [69]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"])
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    NaN
1 2018-01-01 01:00:00    NaN
2 2018-01-01 02:00:00    NaN
3 2018-01-01 03:00:00    NaN
4 2018-01-01 04:00:00    NaN

In [70]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
main_df = main_df.rename(columns= {'Value': 'Dundalk'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
df.isna().sum()

Timestamp       0
Value        2843
dtype: int64

In [73]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
dtype: int64

Elora

In [74]:
df = pd.read_csv('Elora.csv')
df.head()

             Timestamp  Value
0  2018-06-28T15:00:00    0.0
1  2018-06-28T16:00:00    0.0
2  2018-06-28T17:00:00    0.0
3  2018-06-28T18:00:00    0.0
4  2018-06-28T19:00:00    0.0

In [75]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-06-28 15:00:00    0.0
1 2018-06-28 16:00:00    0.0
2 2018-06-28 17:00:00    0.0
3 2018-06-28 18:00:00    0.0
4 2018-06-28 19:00:00    0.0

In [76]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2

In [77]:
main_df = main_df.rename(columns= {'Value': 'Elora'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2

In [83]:
len(df)

39561

In [84]:
len(main_df)

43848

In [85]:
len(main_df)-len(df)

4287

In [79]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
dtype: int64

Guelph Lake

In [86]:
df = pd.read_csv('Guelph Lake Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [87]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [92]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0

In [93]:
main_df = main_df.rename(columns= {'Value': 'Guelph Lake'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0

In [94]:
df.isna().sum()

Timestamp       0
Value        1063
dtype: int64

In [95]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
dtype: int64

Head Office

In [96]:
df = pd.read_csv('Head Office Climate Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [97]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [98]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0

In [99]:
main_df = main_df.rename(columns= {'Value': 'Head Office'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0

In [100]:
df.isna().sum()

Timestamp      0
Value        203
dtype: int64

In [101]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
Head Office      203
dtype: int64

Laurel Creek

In [102]:
df = pd.read_csv('Laurel Creek.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [103]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [104]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0

In [105]:
main_df = main_df.rename(columns= {'Value': 'Laurel Creek'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0

In [106]:
df.isna().sum()

Timestamp    0
Value        0
dtype: int64

In [107]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
Head Office      203
Laurel Creek       0
dtype: int64

Luther Marsh

In [108]:
df = pd.read_csv('Luther Marsh.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [109]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [110]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0

In [111]:
main_df = main_df.rename(columns= {'Value': 'Luther Marsh'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0

In [112]:
df.isna().sum()

Timestamp    0
Value        3
dtype: int64

In [113]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
Head Office      203
Laurel Creek       0
Luther Marsh       3
dtype: int64

MillBank

In [114]:
df = pd.read_csv('Millbank.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [115]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [116]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0

In [117]:
main_df = main_df.rename(columns= {'Value': 'Mill Bank'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0

In [118]:
df.isna().sum()

Timestamp       0
Value        2043
dtype: int64

In [119]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
Head Office      203
Laurel Creek       0
Luther Marsh       3
Mill Bank       2043
dtype: int64

Road 32

In [120]:
df = pd.read_csv('Road 32.csv')
df.head()

             Timestamp  Value
0  2018-01-02T00:00:00    0.0
1  2018-01-02T01:00:00    0.0
2  2018-01-02T02:00:00    0.0
3  2018-01-02T03:00:00    0.0
4  2018-01-02T04:00:00    0.0

In [121]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-02 00:00:00    0.0
1 2018-01-02 01:00:00    0.0
2 2018-01-02 02:00:00    0.0
3 2018-01-02 03:00:00    0.0
4 2018-01-02 04:00:00    0.0

In [122]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0

In [123]:
main_df = main_df.rename(columns= {'Value': 'Road32'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
df.isna().sum()

Timestamp      0
Value        233
dtype: int64

In [126]:
len(main_df)-len(df)

24

In [125]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
Head Office      203
Laurel Creek       0
Luther Marsh       3
Mill Bank       2043
Road32           257
dtype: int64

Paris

In [127]:
df = pd.read_csv('Paris.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [128]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [129]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2

In [130]:
main_df = main_df.rename(columns= {'Value': 'Paris'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2

In [131]:
df.isna().sum()

Timestamp    0
Value        2
dtype: int64

In [133]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
Head Office      203
Laurel Creek       0
Luther Marsh       3
Mill Bank       2043
Road32           257
Paris              2
dtype: int64

Shand Dam

In [134]:
df = pd.read_csv('Shand Dam.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [135]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [136]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0

In [137]:
main_df = main_df.rename(columns= {'Value': 'Shand Dam'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0

In [138]:
df.isna().sum()

Timestamp    0
Value        0
dtype: int64

In [139]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
Head Office      203
Laurel Creek       0
Luther Marsh       3
Mill Bank       2043
Road32           257
Paris              2
Shand Dam          0
dtype: int64

Wellesly Dam

In [140]:
df = pd.read_csv('WellesleyDam.csv')
df.head()

             Timestamp  Value
0  2018-01-02T00:00:00    0.0
1  2018-01-02T01:00:00    0.0
2  2018-01-02T02:00:00    0.0
3  2018-01-02T03:00:00    0.0
4  2018-01-02T04:00:00    0.0

In [141]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-02 00:00:00    0.0
1 2018-01-02 01:00:00    0.0
2 2018-01-02 02:00:00    0.0
3 2018-01-02 03:00:00    0.0
4 2018-01-02 04:00:00    0.0

In [142]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0

In [143]:
main_df = main_df.rename(columns= {'Value': 'Wellesly Dam'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0

In [144]:
df.isna().sum()

Timestamp     0
Value        22
dtype: int64

In [146]:
len(main_df)-len(df)

24

In [145]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
Head Office      203
Laurel Creek       0
Luther Marsh       3
Mill Bank       2043
Road32           257
Paris              2
Shand Dam          0
Wellesly Dam      46
dtype: int64

Woolwich Dam

In [147]:
df = pd.read_csv('WoolwichDam.csv')
df.head()

             Timestamp  Value
0  2018-01-02T00:00:00    0.0
1  2018-01-02T01:00:00    0.0
2  2018-01-02T02:00:00    0.0
3  2018-01-02T03:00:00    0.0
4  2018-01-02T04:00:00    0.0

In [148]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-02 00:00:00    0.0
1 2018-01-02 01:00:00    0.0
2 2018-01-02 02:00:00    0.0
3 2018-01-02 03:00:00    0.0
4 2018-01-02 04:00:00    0.0

In [149]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0

In [150]:
main_df = main_df.rename(columns= {'Value': 'Woolwich Dam'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam,Woolwich Dam
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0

In [151]:
df.isna().sum()

Timestamp    0
Value        0
dtype: int64

In [153]:
len(main_df)-len(df)

24

In [152]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
Head Office      203
Laurel Creek       0
Luther Marsh       3
Mill Bank       2043
Road32           257
Paris              2
Shand Dam          0
Wellesly Dam      46
Woolwich Dam      24
dtype: int64

York

In [154]:
df = pd.read_csv('York.csv')
df.head()

             Timestamp  Value
0  2018-01-02T00:00:00    0.0
1  2018-01-02T01:00:00    0.0
2  2018-01-02T02:00:00    0.0
3  2018-01-02T03:00:00    0.0
4  2018-01-02T04:00:00    0.0

In [155]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-02 00:00:00    0.0
1 2018-01-02 01:00:00    0.0
2 2018-01-02 02:00:00    0.0
3 2018-01-02 03:00:00    0.0
4 2018-01-02 04:00:00    0.0

In [156]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam,Woolwich Dam,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0

In [157]:
main_df = main_df.rename(columns= {'Value': 'York'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam,Woolwich Dam,York
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0

In [158]:
df.isna().sum()

Timestamp    0
Value        0
dtype: int64

In [159]:
len(main_df)-len(df)

24

In [160]:
main_df.isna().sum()

Timestamp          0
Arthur           835
Baden            530
Brant CS         103
Burford           25
Byung Island       0
Conestogo        827
Dundalk         2843
Elora           4287
Guelph Lake     1063
Head Office      203
Laurel Creek       0
Luther Marsh       3
Mill Bank       2043
Road32           257
Paris              2
Shand Dam          0
Wellesly Dam      46
Woolwich Dam      24
York              24
dtype: int64

In [161]:
main_df.isna().sum().sum()

13115

In [162]:
main_df.set_index(["Timestamp"], inplace= True)
main_df

,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam,Woolwich Dam,York
Timestamp,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0
2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2,0.0
2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2
2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0

In [163]:
main_df.to_csv('Rainfall.csv', encoding = 'utf-8-sig')
files.download('Rainfall.csv')