In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

# Combining all location data

In [2]:
main_df = pd.DataFrame()

In [3]:
t = pd.Series(pd.date_range(start= '2018-01-01 00:00:00', end= '2023-01-01 23:00:00', freq= 'H'))
main_df.insert(0, 'Timestamp', t)
main_df

                Timestamp
0     2018-01-01 00:00:00
1     2018-01-01 01:00:00
2     2018-01-01 02:00:00
3     2018-01-01 03:00:00
4     2018-01-01 04:00:00
...                   ...
43843 2023-01-01 19:00:00
43844 2023-01-01 20:00:00
43845 2023-01-01 21:00:00
43846 2023-01-01 22:00:00
43847 2023-01-01 23:00:00

[43848 rows x 1 columns]

Below Shand

In [4]:
df = pd.read_csv('Below Shand.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00  7.960
1  2018-01-01T01:00:00  7.960
2  2018-01-01T02:00:00  7.960
3  2018-01-01T03:00:00  7.955
4  2018-01-01T04:00:00  7.950

In [5]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00  7.960
1 2018-01-01 01:00:00  7.960
2 2018-01-01 02:00:00  7.960
3 2018-01-01 03:00:00  7.955
4 2018-01-01 04:00:00  7.950

In [6]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp    Value
0     2018-01-01 00:00:00    7.960
1     2018-01-01 01:00:00    7.960
2     2018-01-01 02:00:00    7.960
3     2018-01-01 03:00:00    7.955
4     2018-01-01 04:00:00    7.950
...                   ...      ...
43843 2023-01-01 19:00:00 -999.000
43844 2023-01-01 20:00:00 -999.000
43845 2023-01-01 21:00:00 -999.000
43846 2023-01-01 22:00:00 -999.000
43847 2023-01-01 23:00:00 -999.000

[43848 rows x 2 columns]

In [7]:
main_df = main_df.rename(columns= {'Value': 'Below Shand'})
main_df

                Timestamp  Below Shand
0     2018-01-01 00:00:00        7.960
1     2018-01-01 01:00:00        7.960
2     2018-01-01 02:00:00        7.960
3     2018-01-01 03:00:00        7.955
4     2018-01-01 04:00:00        7.950
...                   ...          ...
43843 2023-01-01 19:00:00     -999.000
43844 2023-01-01 20:00:00     -999.000
43845 2023-01-01 21:00:00     -999.000
43846 2023-01-01 22:00:00     -999.000
43847 2023-01-01 23:00:00     -999.000

[43848 rows x 2 columns]

Blair

In [8]:
df = pd.read_csv('Blair.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00  8.225
1  2018-01-01T01:00:00  8.175
2  2018-01-01T02:00:00  8.135
3  2018-01-01T03:00:00  8.105
4  2018-01-01T04:00:00  8.080

In [9]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00  8.225
1 2018-01-01 01:00:00  8.175
2 2018-01-01 02:00:00  8.135
3 2018-01-01 03:00:00  8.105
4 2018-01-01 04:00:00  8.080

In [10]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Below Shand     Value
0     2018-01-01 00:00:00        7.960  8.225000
1     2018-01-01 01:00:00        7.960  8.175000
2     2018-01-01 02:00:00        7.960  8.135000
3     2018-01-01 03:00:00        7.955  8.105000
4     2018-01-01 04:00:00        7.950  8.080000
...                   ...          ...       ...
43843 2023-01-01 19:00:00     -999.000  7.730000
43844 2023-01-01 20:00:00     -999.000  7.739167
43845 2023-01-01 21:00:00     -999.000  7.742500
43846 2023-01-01 22:00:00     -999.000  7.750000
43847 2023-01-01 23:00:00     -999.000  7.759167

[43848 rows x 3 columns]

In [11]:
main_df = main_df.rename(columns= {'Value': 'Blair'})
main_df

                Timestamp  Below Shand     Blair
0     2018-01-01 00:00:00        7.960  8.225000
1     2018-01-01 01:00:00        7.960  8.175000
2     2018-01-01 02:00:00        7.960  8.135000
3     2018-01-01 03:00:00        7.955  8.105000
4     2018-01-01 04:00:00        7.950  8.080000
...                   ...          ...       ...
43843 2023-01-01 19:00:00     -999.000  7.730000
43844 2023-01-01 20:00:00     -999.000  7.739167
43845 2023-01-01 21:00:00     -999.000  7.742500
43846 2023-01-01 22:00:00     -999.000  7.750000
43847 2023-01-01 23:00:00     -999.000  7.759167

[43848 rows x 3 columns]

Brant

In [12]:
df1 = pd.read_csv('Brant.csv')
df1.head()

       Timestamp Value  Unnamed: 1
0  2018-01-01T00:00:00    7.850000
1  2018-01-01T01:00:00    7.850000
2  2018-01-01T02:00:00    7.845833
3  2018-01-01T03:00:00    7.835833
4  2018-01-01T04:00:00    7.820000

In [15]:
df1 = df1.rename(columns= {"Timestamp Value": "Timestamp", "Unnamed: 1": "Value"})
df1.head()

             Timestamp     Value
0  2018-01-01T00:00:00  7.850000
1  2018-01-01T01:00:00  7.850000
2  2018-01-01T02:00:00  7.845833
3  2018-01-01T03:00:00  7.835833
4  2018-01-01T04:00:00  7.820000

In [17]:
df1.Timestamp = pd.to_datetime(df1.Timestamp)
df1.head()

            Timestamp     Value
0 2018-01-01 00:00:00  7.850000
1 2018-01-01 01:00:00  7.850000
2 2018-01-01 02:00:00  7.845833
3 2018-01-01 03:00:00  7.835833
4 2018-01-01 04:00:00  7.820000

In [18]:
main_df = main_df.merge(df1[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Below Shand     Blair       Value
0     2018-01-01 00:00:00        7.960  8.225000    7.850000
1     2018-01-01 01:00:00        7.960  8.175000    7.850000
2     2018-01-01 02:00:00        7.960  8.135000    7.845833
3     2018-01-01 03:00:00        7.955  8.105000    7.835833
4     2018-01-01 04:00:00        7.950  8.080000    7.820000
...                   ...          ...       ...         ...
43843 2023-01-01 19:00:00     -999.000  7.730000 -999.000000
43844 2023-01-01 20:00:00     -999.000  7.739167 -999.000000
43845 2023-01-01 21:00:00     -999.000  7.742500 -999.000000
43846 2023-01-01 22:00:00     -999.000  7.750000 -999.000000
43847 2023-01-01 23:00:00     -999.000  7.759167 -999.000000

[43848 rows x 4 columns]

In [19]:
main_df = main_df.rename(columns= {'Value': 'Brant'})
main_df

                Timestamp  Below Shand     Blair       Brant
0     2018-01-01 00:00:00        7.960  8.225000    7.850000
1     2018-01-01 01:00:00        7.960  8.175000    7.850000
2     2018-01-01 02:00:00        7.960  8.135000    7.845833
3     2018-01-01 03:00:00        7.955  8.105000    7.835833
4     2018-01-01 04:00:00        7.950  8.080000    7.820000
...                   ...          ...       ...         ...
43843 2023-01-01 19:00:00     -999.000  7.730000 -999.000000
43844 2023-01-01 20:00:00     -999.000  7.739167 -999.000000
43845 2023-01-01 21:00:00     -999.000  7.742500 -999.000000
43846 2023-01-01 22:00:00     -999.000  7.750000 -999.000000
43847 2023-01-01 23:00:00     -999.000  7.759167 -999.000000

[43848 rows x 4 columns]

Bridgeport

In [20]:
df = pd.read_csv('Bridgeport.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  8.370833
1  2018-01-01T01:00:00  8.369167
2  2018-01-01T02:00:00  8.360000
3  2018-01-01T03:00:00  8.360000
4  2018-01-01T04:00:00  8.367500

In [21]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  8.370833
1 2018-01-01 01:00:00  8.369167
2 2018-01-01 02:00:00  8.360000
3 2018-01-01 03:00:00  8.360000
4 2018-01-01 04:00:00  8.367500

In [22]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Below Shand     Blair       Brant     Value
0     2018-01-01 00:00:00        7.960  8.225000    7.850000  8.370833
1     2018-01-01 01:00:00        7.960  8.175000    7.850000  8.369167
2     2018-01-01 02:00:00        7.960  8.135000    7.845833  8.360000
3     2018-01-01 03:00:00        7.955  8.105000    7.835833  8.360000
4     2018-01-01 04:00:00        7.950  8.080000    7.820000  8.367500
...                   ...          ...       ...         ...       ...
43843 2023-01-01 19:00:00     -999.000  7.730000 -999.000000  7.566667
43844 2023-01-01 20:00:00     -999.000  7.739167 -999.000000  7.560833
43845 2023-01-01 21:00:00     -999.000  7.742500 -999.000000  7.564167
43846 2023-01-01 22:00:00     -999.000  7.750000 -999.000000  7.577500
43847 2023-01-01 23:00:00     -999.000  7.759167 -999.000000  7.580000

[43848 rows x 5 columns]

In [23]:
main_df = main_df.rename(columns= {'Value': 'Bridgeport'})
main_df

                Timestamp  Below Shand     Blair       Brant  Bridgeport
0     2018-01-01 00:00:00        7.960  8.225000    7.850000    8.370833
1     2018-01-01 01:00:00        7.960  8.175000    7.850000    8.369167
2     2018-01-01 02:00:00        7.960  8.135000    7.845833    8.360000
3     2018-01-01 03:00:00        7.955  8.105000    7.835833    8.360000
4     2018-01-01 04:00:00        7.950  8.080000    7.820000    8.367500
...                   ...          ...       ...         ...         ...
43843 2023-01-01 19:00:00     -999.000  7.730000 -999.000000    7.566667
43844 2023-01-01 20:00:00     -999.000  7.739167 -999.000000    7.560833
43845 2023-01-01 21:00:00     -999.000  7.742500 -999.000000    7.564167
43846 2023-01-01 22:00:00     -999.000  7.750000 -999.000000    7.577500
43847 2023-01-01 23:00:00     -999.000  7.759167 -999.000000    7.580000

[43848 rows x 5 columns]

Glen Morris

In [24]:
df = pd.read_csv('Glen Morris.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  7.960864
1  2018-01-01T01:00:00  7.905989
2  2018-01-01T02:00:00  7.856115
3  2018-01-01T03:00:00  7.811241
4  2018-01-01T04:00:00  7.776367

In [25]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  7.960864
1 2018-01-01 01:00:00  7.905989
2 2018-01-01 02:00:00  7.856115
3 2018-01-01 03:00:00  7.811241
4 2018-01-01 04:00:00  7.776367

In [26]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Value
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367
...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500
43844,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167
43845,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000
43846,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000
43847,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167

In [27]:
main_df = main_df.rename(columns= {'Value': 'Glen Morris'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367
...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500
43844,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167
43845,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000
43846,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000
43847,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167

Breslau Victoria

In [29]:
df = pd.read_csv('Grand River at Breslau Vicotira.csv')
df.head()

             Timestamp     Value
0  2018-01-04T23:00:00  6.400000
1  2018-01-31T20:00:00  7.967000
2  2018-01-31T21:00:00  7.771667
3  2018-01-31T22:00:00  7.789167
4  2018-01-31T23:00:00  7.758333

In [30]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-04 23:00:00  6.400000
1 2018-01-31 20:00:00  7.967000
2 2018-01-31 21:00:00  7.771667
3 2018-01-31 22:00:00  7.789167
4 2018-01-31 23:00:00  7.758333

In [31]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Value
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0
...,...,...,...,...,...,...,...
43844,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0
43845,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0
43846,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0
43847,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0
43848,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0

In [32]:
main_df = main_df.rename(columns= {'Value': 'Breslau Victoria'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0
...,...,...,...,...,...,...,...
43844,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0
43845,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0
43846,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0
43847,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0
43848,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0

Road32

In [33]:
df = pd.read_csv('Road32.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  8.040000
1  2018-01-01T01:00:00  8.044167
2  2018-01-01T02:00:00  8.050000
3  2018-01-01T03:00:00  8.042500
4  2018-01-01T04:00:00  8.031667

In [34]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  8.040000
1 2018-01-01 01:00:00  8.044167
2 2018-01-01 02:00:00  8.050000
3 2018-01-01 03:00:00  8.042500
4 2018-01-01 04:00:00  8.031667

In [35]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Value
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0,8.040000
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0,8.044167
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0,8.050000
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0,8.042500
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0,8.031667
...,...,...,...,...,...,...,...,...
43844,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0,8.102500
43845,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0,8.117500
43846,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0,8.120000
43847,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0,8.117500
43848,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0,8.104166

In [36]:
main_df = main_df.rename(columns= {'Value': 'Road32'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0,8.040000
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0,8.044167
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0,8.050000
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0,8.042500
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0,8.031667
...,...,...,...,...,...,...,...,...
43844,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0,8.102500
43845,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0,8.117500
43846,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0,8.120000
43847,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0,8.117500
43848,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0,8.104166

York

In [37]:
df = pd.read_csv('York.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  6.890001
1  2018-01-01T01:00:00  6.885834
2  2018-01-01T02:00:00  6.880001
3  2018-01-01T03:00:00  6.876668
4  2018-01-01T04:00:00  6.885834

In [38]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  6.890001
1 2018-01-01 01:00:00  6.885834
2 2018-01-01 02:00:00  6.880001
3 2018-01-01 03:00:00  6.876668
4 2018-01-01 04:00:00  6.885834

In [39]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,Value
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0,8.040000,6.890001
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0,8.044167,6.885834
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0,8.050000,6.880001
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0,8.042500,6.876668
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0,8.031667,6.885834
...,...,...,...,...,...,...,...,...,...
43844,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0,8.102500,-999.000000
43845,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0,8.117500,-999.000000
43846,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0,8.120000,-999.000000
43847,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0,8.117500,-999.000000
43848,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0,8.104166,-999.000000

In [40]:
main_df = main_df.rename(columns= {'Value': 'York'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0,8.040000,6.890001
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0,8.044167,6.885834
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0,8.050000,6.880001
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0,8.042500,6.876668
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0,8.031667,6.885834
...,...,...,...,...,...,...,...,...,...
43844,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0,8.102500,-999.000000
43845,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0,8.117500,-999.000000
43846,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0,8.120000,-999.000000
43847,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0,8.117500,-999.000000
43848,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0,8.104166,-999.000000

Hanlon

In [41]:
df = pd.read_csv('hanlon.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  7.867140
1  2018-01-01T01:00:00  7.856996
2  2018-01-01T02:00:00  7.851851
3  2018-01-01T03:00:00  7.846707
4  2018-01-01T04:00:00  7.836563

In [42]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  7.867140
1 2018-01-01 01:00:00  7.856996
2 2018-01-01 02:00:00  7.851851
3 2018-01-01 03:00:00  7.846707
4 2018-01-01 04:00:00  7.836563

In [43]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Value
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0,8.040000,6.890001,7.867140
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0,8.044167,6.885834,7.856996
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0,8.050000,6.880001,7.851851
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0,8.042500,6.876668,7.846707
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0,8.031667,6.885834,7.836563
...,...,...,...,...,...,...,...,...,...,...
43844,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0,8.102500,-999.000000,7.886667
43845,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0,8.117500,-999.000000,7.890000
43846,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0,8.120000,-999.000000,7.890000
43847,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0,8.117500,-999.000000,7.880833
43848,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0,8.104166,-999.000000,7.880000

In [44]:
main_df = main_df.rename(columns= {'Value': 'Hanlon'})
main_df

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0,8.040000,6.890001,7.867140
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0,8.044167,6.885834,7.856996
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0,8.050000,6.880001,7.851851
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0,8.042500,6.876668,7.846707
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0,8.031667,6.885834,7.836563
...,...,...,...,...,...,...,...,...,...,...
43844,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0,8.102500,-999.000000,7.886667
43845,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0,8.117500,-999.000000,7.890000
43846,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0,8.120000,-999.000000,7.890000
43847,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0,8.117500,-999.000000,7.880833
43848,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0,8.104166,-999.000000,7.880000

In [45]:
main_df2 = main_df.copy()

In [46]:
main_df2.set_index("Timestamp", inplace = True)

In [47]:
main_df2

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0,8.040000,6.890001,7.867140
2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0,8.044167,6.885834,7.856996
2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0,8.050000,6.880001,7.851851
2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0,8.042500,6.876668,7.846707
2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0,8.031667,6.885834,7.836563
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0,8.102500,-999.000000,7.886667
2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0,8.117500,-999.000000,7.890000
2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0,8.120000,-999.000000,7.890000
2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0,8.117500,-999.000000,7.880833
2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0,8.104166,-999.000000,7.880000

In [49]:
main_df2.to_csv('pH.csv', encoding = 'utf-8-sig')
files.download('pH.csv')

# **Interpolation of Missing values**

In [53]:
pH = pd.read_csv("pH.csv")
pH

,Timestamp,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
0,2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0,8.040000,6.890001,7.867140
1,2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0,8.044167,6.885834,7.856996
2,2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0,8.050000,6.880001,7.851851
3,2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0,8.042500,6.876668,7.846707
4,2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0,8.031667,6.885834,7.836563
...,...,...,...,...,...,...,...,...,...,...
43844,2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0,8.102500,-999.000000,7.886667
43845,2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0,8.117500,-999.000000,7.890000
43846,2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0,8.120000,-999.000000,7.890000
43847,2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0,8.117500,-999.000000,7.880833
43848,2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0,8.104166,-999.000000,7.880000

In [54]:
pH.set_index("Timestamp", inplace= True)

In [55]:
pH

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,-999.0,8.040000,6.890001,7.867140
2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,-999.0,8.044167,6.885834,7.856996
2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,-999.0,8.050000,6.880001,7.851851
2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,-999.0,8.042500,6.876668,7.846707
2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,-999.0,8.031667,6.885834,7.836563
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,-999.000,7.730000,-999.000000,7.566667,7.887500,-999.0,8.102500,-999.000000,7.886667
2023-01-01 20:00:00,-999.000,7.739167,-999.000000,7.560833,7.894167,-999.0,8.117500,-999.000000,7.890000
2023-01-01 21:00:00,-999.000,7.742500,-999.000000,7.564167,7.900000,-999.0,8.120000,-999.000000,7.890000
2023-01-01 22:00:00,-999.000,7.750000,-999.000000,7.577500,7.900000,-999.0,8.117500,-999.000000,7.880833
2023-01-01 23:00:00,-999.000,7.759167,-999.000000,7.580000,7.899167,-999.0,8.104166,-999.000000,7.880000

In [58]:
#Percentage of Missing values
l = len(pH)
for i in range(1, len(pH.columns)):
  m = pH.iloc[ : , i].isin([-999]).sum(axis= 0)
  p = 100*m/l
  print(pH.columns[i], "         ",p)

Blair           17.247827772583182
Brant           8.42892654336473
Bridgeport           3.954480147779881
Glen Morris           18.36073798718329
Breslau Victoria           36.13081256128988
Road32           19.42347601997765
York           8.4220848822094
Hanlon           9.363953567926293

In [59]:
pH[pH == -999] = np.nan
pH.isin([np.nan]).sum(axis= 0)

Below Shand         23452
Blair                7563
Brant                3696
Bridgeport           1734
Glen Morris          8051
Breslau Victoria    15843
Road32               8517
York                 3693
Hanlon               4106
dtype: int64

In [60]:
#Percentage of Missing values
l = len(pH)
for i in range(1, len(pH.columns)):
  m = pH.iloc[ : , i].isin([np.nan]).sum(axis= 0)
  p = 100*m/l
  print(pH.columns[i], "         ",p)

Blair           17.247827772583182
Brant           8.42892654336473
Bridgeport           3.954480147779881
Glen Morris           18.36073798718329
Breslau Victoria           36.13081256128988
Road32           19.42347601997765
York           8.4220848822094
Hanlon           9.363953567926293

In [61]:
pH_linear  = pH.interpolate(method= "linear")

In [62]:
pH_linear

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,NaN,8.040000,6.890001,7.867140
2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,NaN,8.044167,6.885834,7.856996
2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,NaN,8.050000,6.880001,7.851851
2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,NaN,8.042500,6.876668,7.846707
2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,NaN,8.031667,6.885834,7.836563
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,8.315,7.730000,8.106250,7.566667,7.887500,8.0475,8.102500,7.910001,7.886667
2023-01-01 20:00:00,8.315,7.739167,8.106250,7.560833,7.894167,8.0475,8.117500,7.910001,7.890000
2023-01-01 21:00:00,8.315,7.742500,8.106250,7.564167,7.900000,8.0475,8.120000,7.910001,7.890000
2023-01-01 22:00:00,8.315,7.750000,8.106250,7.577500,7.900000,8.0475,8.117500,7.910001,7.880833
2023-01-01 23:00:00,8.315,7.759167,8.106250,7.580000,7.899167,8.0475,8.104166,7.910001,7.880000

In [64]:
#Percentage of Missing values
l = len(pH)
for i in range(1, len(pH.columns)):
  m = pH_linear.iloc[ : , i].isin([np.nan]).sum(axis= 0)
  p = 100*m/l
  print(pH_linear.columns[i], "         ", p)

Blair           0.0
Brant           0.0
Bridgeport           0.0
Glen Morris           0.0
Breslau Victoria           0.21665260325206961
Road32           0.0
York           0.0
Hanlon           0.0

In [65]:
#Checking for negative values as decomposition does not work with negative and zero values
pH_linear[pH_linear < 0].sum()

Below Shand         0.0
Blair               0.0
Brant               0.0
Bridgeport          0.0
Glen Morris         0.0
Breslau Victoria    0.0
Road32              0.0
York                0.0
Hanlon              0.0
dtype: float64

In [66]:
pH_linear[pH_linear < 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [71]:
pH.interpolate(method= "linear", inplace= True)

In [72]:
pH[pH < 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

There are no negative values now.

Now checking for zero values.

In [73]:
pH[pH == 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [74]:
pH

,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,7.960,8.225000,7.850000,8.370833,7.960864,NaN,8.040000,6.890001,7.867140
2018-01-01 01:00:00,7.960,8.175000,7.850000,8.369167,7.905989,NaN,8.044167,6.885834,7.856996
2018-01-01 02:00:00,7.960,8.135000,7.845833,8.360000,7.856115,NaN,8.050000,6.880001,7.851851
2018-01-01 03:00:00,7.955,8.105000,7.835833,8.360000,7.811241,NaN,8.042500,6.876668,7.846707
2018-01-01 04:00:00,7.950,8.080000,7.820000,8.367500,7.776367,NaN,8.031667,6.885834,7.836563
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,8.315,7.730000,8.106250,7.566667,7.887500,8.0475,8.102500,7.910001,7.886667
2023-01-01 20:00:00,8.315,7.739167,8.106250,7.560833,7.894167,8.0475,8.117500,7.910001,7.890000
2023-01-01 21:00:00,8.315,7.742500,8.106250,7.564167,7.900000,8.0475,8.120000,7.910001,7.890000
2023-01-01 22:00:00,8.315,7.750000,8.106250,7.577500,7.900000,8.0475,8.117500,7.910001,7.880833
2023-01-01 23:00:00,8.315,7.759167,8.106250,7.580000,7.899167,8.0475,8.104166,7.910001,7.880000

In [75]:
pH[pH == 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [76]:
pH[pH == np.nan].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [77]:
pH[pH < 0].count()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [79]:
pH.isna().sum()

Below Shand          0
Blair                0
Brant                0
Bridgeport           0
Glen Morris          0
Breslau Victoria    95
Road32               0
York                 0
Hanlon               0
dtype: int64

# Interpolating the 95 missing values of Victoria

In [80]:
victoria = pH["Breslau Victoria"]
victoria

Timestamp
2018-01-01 00:00:00       NaN
2018-01-01 01:00:00       NaN
2018-01-01 02:00:00       NaN
2018-01-01 03:00:00       NaN
2018-01-01 04:00:00       NaN
                        ...
2023-01-01 19:00:00    8.0475
2023-01-01 20:00:00    8.0475
2023-01-01 21:00:00    8.0475
2023-01-01 22:00:00    8.0475
2023-01-01 23:00:00    8.0475
Name: Breslau Victoria, Length: 43849, dtype: float64

In [81]:
victoria.isna().sum()

95

In [82]:
victoria.index = pd.to_datetime(victoria.index)

In [86]:
victoria[94], victoria[95]

(nan, 6.4)

In [88]:
from dateutil.relativedelta import relativedelta

In [89]:
for i in range(0, 95):
  dt = victoria.index[i]
  dt1 = dt + relativedelta(years=1)
  dt2 = dt + relativedelta(years=2)
  dt3 = dt + relativedelta(years=3)
  dt4 = dt + relativedelta(years=4)
  victoria[victoria.index == dt] = (victoria[victoria.index == dt1].values + victoria[victoria.index == dt2].values + victoria[victoria.index == dt3].values + victoria[victoria.index == dt4].values)/4

In [90]:
victoria.isna().sum()

0

In [91]:
pH.index = pd.to_datetime(pH.index)

In [92]:
pH["Breslau Victoria"] = victoria

In [93]:
pH.isna().sum()

Below Shand         0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [95]:
pH.to_csv("pH_noNA.csv")
files.download("pH_noNA.csv")