In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

In [2]:
main_df = pd.DataFrame()

In [3]:
t = pd.Series(pd.date_range(start= '2018-01-01 00:00:00', end= '2023-01-01 23:00:00', freq= 'H'))
main_df.insert(0, 'Timestamp', t)
main_df

                Timestamp
0     2018-01-01 00:00:00
1     2018-01-01 01:00:00
2     2018-01-01 02:00:00
3     2018-01-01 03:00:00
4     2018-01-01 04:00:00
...                   ...
43843 2023-01-01 19:00:00
43844 2023-01-01 20:00:00
43845 2023-01-01 21:00:00
43846 2023-01-01 22:00:00
43847 2023-01-01 23:00:00

[43848 rows x 1 columns]

Arthur

In [4]:
df = pd.read_csv('Arthur Climate Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [6]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [7]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Value
0     2018-01-01 00:00:00    0.0
1     2018-01-01 01:00:00    0.0
2     2018-01-01 02:00:00    0.0
3     2018-01-01 03:00:00    0.0
4     2018-01-01 04:00:00    0.0
...                   ...    ...
43843 2023-01-01 19:00:00    0.6
43844 2023-01-01 20:00:00    0.2
43845 2023-01-01 21:00:00    0.0
43846 2023-01-01 22:00:00    0.2
43847 2023-01-01 23:00:00    0.0

[43848 rows x 2 columns]

In [8]:
main_df = main_df.rename(columns= {'Value': 'Arthur'})
main_df

                Timestamp  Arthur
0     2018-01-01 00:00:00     0.0
1     2018-01-01 01:00:00     0.0
2     2018-01-01 02:00:00     0.0
3     2018-01-01 03:00:00     0.0
4     2018-01-01 04:00:00     0.0
...                   ...     ...
43843 2023-01-01 19:00:00     0.6
43844 2023-01-01 20:00:00     0.2
43845 2023-01-01 21:00:00     0.0
43846 2023-01-01 22:00:00     0.2
43847 2023-01-01 23:00:00     0.0

[43848 rows x 2 columns]

Baden

In [9]:
df = pd.read_csv('Baden Climate Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [10]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [11]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Arthur  Value
0     2018-01-01 00:00:00     0.0    0.0
1     2018-01-01 01:00:00     0.0    0.0
2     2018-01-01 02:00:00     0.0    0.0
3     2018-01-01 03:00:00     0.0    0.0
4     2018-01-01 04:00:00     0.0    0.0
...                   ...     ...    ...
43843 2023-01-01 19:00:00     0.6    0.0
43844 2023-01-01 20:00:00     0.2    0.0
43845 2023-01-01 21:00:00     0.0    0.0
43846 2023-01-01 22:00:00     0.2    0.0
43847 2023-01-01 23:00:00     0.0    0.0

[43848 rows x 3 columns]

In [12]:
main_df = main_df.rename(columns= {'Value': 'Baden'})
main_df

                Timestamp  Arthur  Baden
0     2018-01-01 00:00:00     0.0    0.0
1     2018-01-01 01:00:00     0.0    0.0
2     2018-01-01 02:00:00     0.0    0.0
3     2018-01-01 03:00:00     0.0    0.0
4     2018-01-01 04:00:00     0.0    0.0
...                   ...     ...    ...
43843 2023-01-01 19:00:00     0.6    0.0
43844 2023-01-01 20:00:00     0.2    0.0
43845 2023-01-01 21:00:00     0.0    0.0
43846 2023-01-01 22:00:00     0.2    0.0
43847 2023-01-01 23:00:00     0.0    0.0

[43848 rows x 3 columns]

Brant Climate Station

In [13]:
df = pd.read_csv('Brant Climate Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [14]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [15]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Arthur  Baden  Value
0     2018-01-01 00:00:00     0.0    0.0    0.0
1     2018-01-01 01:00:00     0.0    0.0    0.0
2     2018-01-01 02:00:00     0.0    0.0    0.0
3     2018-01-01 03:00:00     0.0    0.0    0.0
4     2018-01-01 04:00:00     0.0    0.0    0.0
...                   ...     ...    ...    ...
43843 2023-01-01 19:00:00     0.6    0.0    0.0
43844 2023-01-01 20:00:00     0.2    0.0    0.2
43845 2023-01-01 21:00:00     0.0    0.0    0.2
43846 2023-01-01 22:00:00     0.2    0.0    0.0
43847 2023-01-01 23:00:00     0.0    0.0    0.0

[43848 rows x 4 columns]

In [16]:
main_df = main_df.rename(columns= {'Value': 'Brant CS'})
main_df

                Timestamp  Arthur  Baden  Brant CS
0     2018-01-01 00:00:00     0.0    0.0       0.0
1     2018-01-01 01:00:00     0.0    0.0       0.0
2     2018-01-01 02:00:00     0.0    0.0       0.0
3     2018-01-01 03:00:00     0.0    0.0       0.0
4     2018-01-01 04:00:00     0.0    0.0       0.0
...                   ...     ...    ...       ...
43843 2023-01-01 19:00:00     0.6    0.0       0.0
43844 2023-01-01 20:00:00     0.2    0.0       0.2
43845 2023-01-01 21:00:00     0.0    0.0       0.2
43846 2023-01-01 22:00:00     0.2    0.0       0.0
43847 2023-01-01 23:00:00     0.0    0.0       0.0

[43848 rows x 4 columns]

Burford

In [17]:
df = pd.read_csv('Burford Climate Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [18]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [19]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Arthur  Baden  Brant CS  Value
0     2018-01-01 00:00:00     0.0    0.0       0.0    0.0
1     2018-01-01 01:00:00     0.0    0.0       0.0    0.0
2     2018-01-01 02:00:00     0.0    0.0       0.0    0.0
3     2018-01-01 03:00:00     0.0    0.0       0.0    0.0
4     2018-01-01 04:00:00     0.0    0.0       0.0    0.0
...                   ...     ...    ...       ...    ...
43843 2023-01-01 19:00:00     0.6    0.0       0.0    0.0
43844 2023-01-01 20:00:00     0.2    0.0       0.2    0.4
43845 2023-01-01 21:00:00     0.0    0.0       0.2    0.0
43846 2023-01-01 22:00:00     0.2    0.0       0.0    0.0
43847 2023-01-01 23:00:00     0.0    0.0       0.0    0.0

[43848 rows x 5 columns]

In [20]:
main_df = main_df.rename(columns= {'Value': 'Burford'})
main_df

                Timestamp  Arthur  Baden  Brant CS  Burford
0     2018-01-01 00:00:00     0.0    0.0       0.0      0.0
1     2018-01-01 01:00:00     0.0    0.0       0.0      0.0
2     2018-01-01 02:00:00     0.0    0.0       0.0      0.0
3     2018-01-01 03:00:00     0.0    0.0       0.0      0.0
4     2018-01-01 04:00:00     0.0    0.0       0.0      0.0
...                   ...     ...    ...       ...      ...
43843 2023-01-01 19:00:00     0.6    0.0       0.0      0.0
43844 2023-01-01 20:00:00     0.2    0.0       0.2      0.4
43845 2023-01-01 21:00:00     0.0    0.0       0.2      0.0
43846 2023-01-01 22:00:00     0.2    0.0       0.0      0.0
43847 2023-01-01 23:00:00     0.0    0.0       0.0      0.0

[43848 rows x 5 columns]

Byng Island

In [22]:
df = pd.read_csv('Byung Island.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [23]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [24]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Arthur  Baden  Brant CS  Burford  Value
0     2018-01-01 00:00:00     0.0    0.0       0.0      0.0    0.0
1     2018-01-01 01:00:00     0.0    0.0       0.0      0.0    0.0
2     2018-01-01 02:00:00     0.0    0.0       0.0      0.0    0.0
3     2018-01-01 03:00:00     0.0    0.0       0.0      0.0    0.0
4     2018-01-01 04:00:00     0.0    0.0       0.0      0.0    0.0
...                   ...     ...    ...       ...      ...    ...
43843 2023-01-01 19:00:00     0.6    0.0       0.0      0.0    0.0
43844 2023-01-01 20:00:00     0.2    0.0       0.2      0.4    0.0
43845 2023-01-01 21:00:00     0.0    0.0       0.2      0.0    0.2
43846 2023-01-01 22:00:00     0.2    0.0       0.0      0.0    0.0
43847 2023-01-01 23:00:00     0.0    0.0       0.0      0.0    0.0

[43848 rows x 6 columns]

In [25]:
main_df = main_df.rename(columns= {'Value': 'Byung Island'})
main_df

                Timestamp  Arthur  Baden  Brant CS  Burford  Byung Island
0     2018-01-01 00:00:00     0.0    0.0       0.0      0.0           0.0
1     2018-01-01 01:00:00     0.0    0.0       0.0      0.0           0.0
2     2018-01-01 02:00:00     0.0    0.0       0.0      0.0           0.0
3     2018-01-01 03:00:00     0.0    0.0       0.0      0.0           0.0
4     2018-01-01 04:00:00     0.0    0.0       0.0      0.0           0.0
...                   ...     ...    ...       ...      ...           ...
43843 2023-01-01 19:00:00     0.6    0.0       0.0      0.0           0.0
43844 2023-01-01 20:00:00     0.2    0.0       0.2      0.4           0.0
43845 2023-01-01 21:00:00     0.0    0.0       0.2      0.0           0.2
43846 2023-01-01 22:00:00     0.2    0.0       0.0      0.0           0.0
43847 2023-01-01 23:00:00     0.0    0.0       0.0      0.0           0.0

[43848 rows x 6 columns]

Conestogo

In [26]:
df = pd.read_csv('Conestogo.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [28]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [29]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
main_df = main_df.rename(columns= {'Value': 'Conestogo'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0

Dundalk

In [34]:
df = pd.read_csv('Dundalk.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    NaN
1  2018-01-01T01:00:00    NaN
2  2018-01-01T02:00:00    NaN
3  2018-01-01T03:00:00    NaN
4  2018-01-01T04:00:00    NaN

In [35]:
df.columns

Index(['Timestamp', 'Value'], dtype='object')

In [36]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"])
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    NaN
1 2018-01-01 01:00:00    NaN
2 2018-01-01 02:00:00    NaN
3 2018-01-01 03:00:00    NaN
4 2018-01-01 04:00:00    NaN

In [37]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
main_df = main_df.rename(columns= {'Value': 'Dundalk'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Elora

In [39]:
df = pd.read_csv('Elora.csv')
df.head()

             Timestamp  Value
0  2018-06-28T15:00:00    0.0
1  2018-06-28T16:00:00    0.0
2  2018-06-28T17:00:00    0.0
3  2018-06-28T18:00:00    0.0
4  2018-06-28T19:00:00    0.0

In [40]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-06-28 15:00:00    0.0
1 2018-06-28 16:00:00    0.0
2 2018-06-28 17:00:00    0.0
3 2018-06-28 18:00:00    0.0
4 2018-06-28 19:00:00    0.0

In [41]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2

In [42]:
main_df = main_df.rename(columns= {'Value': 'Elora'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2

Guelph Lake

In [44]:
df = pd.read_csv('Guelph Lake Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [45]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [46]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0

In [47]:
main_df = main_df.rename(columns= {'Value': 'Guelph Lake'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0

Head Office

In [48]:
df = pd.read_csv('Head Office Climate Station.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [49]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [50]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0

In [51]:
main_df = main_df.rename(columns= {'Value': 'Head Office'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0

Laurel Creek

In [52]:
df = pd.read_csv('Laurel Creek.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [53]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [54]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0

In [55]:
main_df = main_df.rename(columns= {'Value': 'Laurel Creek'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0

Luther Marsh

In [56]:
df = pd.read_csv('Luther Marsh.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [57]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [58]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0

In [59]:
main_df = main_df.rename(columns= {'Value': 'Luther Marsh'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0

MillBank

In [61]:
df = pd.read_csv('Millbank.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [62]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [63]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0

In [64]:
main_df = main_df.rename(columns= {'Value': 'Mill Bank'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0

Road 32

In [65]:
df = pd.read_csv('Road 32.csv')
df.head()

             Timestamp  Value
0  2018-01-02T00:00:00    0.0
1  2018-01-02T01:00:00    0.0
2  2018-01-02T02:00:00    0.0
3  2018-01-02T03:00:00    0.0
4  2018-01-02T04:00:00    0.0

In [66]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-02 00:00:00    0.0
1 2018-01-02 01:00:00    0.0
2 2018-01-02 02:00:00    0.0
3 2018-01-02 03:00:00    0.0
4 2018-01-02 04:00:00    0.0

In [67]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
main_df = main_df.rename(columns= {'Value': 'Road32'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0

Paris

In [69]:
df = pd.read_csv('Paris.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [70]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [71]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2

In [72]:
main_df = main_df.rename(columns= {'Value': 'Paris'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2

Shand Dam

In [73]:
df = pd.read_csv('Shand Dam.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.0
1  2018-01-01T01:00:00    0.0
2  2018-01-01T02:00:00    0.0
3  2018-01-01T03:00:00    0.0
4  2018-01-01T04:00:00    0.0

In [74]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.0
1 2018-01-01 01:00:00    0.0
2 2018-01-01 02:00:00    0.0
3 2018-01-01 03:00:00    0.0
4 2018-01-01 04:00:00    0.0

In [75]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0

In [76]:
main_df = main_df.rename(columns= {'Value': 'Shand Dam'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0

Wellesly Dam

In [78]:
df = pd.read_csv('WellesleyDam.csv')
df.head()

             Timestamp  Value
0  2018-01-02T00:00:00    0.0
1  2018-01-02T01:00:00    0.0
2  2018-01-02T02:00:00    0.0
3  2018-01-02T03:00:00    0.0
4  2018-01-02T04:00:00    0.0

In [79]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-02 00:00:00    0.0
1 2018-01-02 01:00:00    0.0
2 2018-01-02 02:00:00    0.0
3 2018-01-02 03:00:00    0.0
4 2018-01-02 04:00:00    0.0

In [80]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0

In [81]:
main_df = main_df.rename(columns= {'Value': 'Wellesly Dam'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0

Woolwich Dam

In [82]:
df = pd.read_csv('WoolwichDam.csv')
df.head()

             Timestamp  Value
0  2018-01-02T00:00:00    0.0
1  2018-01-02T01:00:00    0.0
2  2018-01-02T02:00:00    0.0
3  2018-01-02T03:00:00    0.0
4  2018-01-02T04:00:00    0.0

In [83]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-02 00:00:00    0.0
1 2018-01-02 01:00:00    0.0
2 2018-01-02 02:00:00    0.0
3 2018-01-02 03:00:00    0.0
4 2018-01-02 04:00:00    0.0

In [84]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0

In [85]:
main_df = main_df.rename(columns= {'Value': 'Woolwich Dam'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam,Woolwich Dam
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0

York

In [86]:
df = pd.read_csv('York.csv')
df.head()

             Timestamp  Value
0  2018-01-02T00:00:00    0.0
1  2018-01-02T01:00:00    0.0
2  2018-01-02T02:00:00    0.0
3  2018-01-02T03:00:00    0.0
4  2018-01-02T04:00:00    0.0

In [87]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-02 00:00:00    0.0
1 2018-01-02 01:00:00    0.0
2 2018-01-02 02:00:00    0.0
3 2018-01-02 03:00:00    0.0
4 2018-01-02 04:00:00    0.0

In [88]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam,Woolwich Dam,Value
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0

In [89]:
main_df = main_df.rename(columns= {'Value': 'York'})
main_df

,Timestamp,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam,Woolwich Dam,York
0,2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
1,2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
2,2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
3,2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
4,2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0
43844,2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2,0.0
43845,2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2
43846,2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
43847,2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0

In [90]:
main_df2 = main_df.copy()
main_df2.set_index("Timestamp", inplace = True)
main_df2

,Arthur,Baden,Brant CS,Burford,Byung Island,Conestogo,Dundalk,Elora,Guelph Lake,Head Office,Laurel Creek,Luther Marsh,Mill Bank,Road32,Paris,Shand Dam,Wellesly Dam,Woolwich Dam,York
Timestamp,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,-999.0,-999.0,0.0,0.0,0.0,0.0,0.0,-999.0,0.0,0.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,0.6,0.0,0.0,0.0,0.0,0.2,0.0,0.4,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0
2023-01-01 20:00:00,0.2,0.0,0.2,0.4,0.0,0.4,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2,0.0
2023-01-01 21:00:00,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.2
2023-01-01 22:00:00,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2
2023-01-01 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0

In [91]:
main_df2.to_csv('Rainfall.csv', encoding = 'utf-8-sig')
files.download('Rainfall.csv')