In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

In [2]:
main_df = pd.DataFrame()

In [3]:
t = pd.Series(pd.date_range(start= '2018-01-01 00:00:00', end= '2023-01-01 23:00:00', freq= 'H'))
main_df.insert(0, 'Timestamp', t)
main_df

                Timestamp
0     2018-01-01 00:00:00
1     2018-01-01 01:00:00
2     2018-01-01 02:00:00
3     2018-01-01 03:00:00
4     2018-01-01 04:00:00
...                   ...
43843 2023-01-01 19:00:00
43844 2023-01-01 20:00:00
43845 2023-01-01 21:00:00
43846 2023-01-01 22:00:00
43847 2023-01-01 23:00:00

[43848 rows x 1 columns]

Aberfoyle

In [4]:
df = pd.read_csv('Aberfoyle.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  0.382068
1  2018-01-01T01:00:00  0.384540
2  2018-01-01T02:00:00  0.384540
3  2018-01-01T03:00:00  0.387731
4  2018-01-01T04:00:00  0.388086

In [5]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  0.382068
1 2018-01-01 01:00:00  0.384540
2 2018-01-01 02:00:00  0.384540
3 2018-01-01 03:00:00  0.387731
4 2018-01-01 04:00:00  0.388086

In [6]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp     Value
0     2018-01-01 00:00:00  0.382068
1     2018-01-01 01:00:00  0.384540
2     2018-01-01 02:00:00  0.384540
3     2018-01-01 03:00:00  0.387731
4     2018-01-01 04:00:00  0.388086
...                   ...       ...
43843 2023-01-01 19:00:00  0.673899
43844 2023-01-01 20:00:00  0.655979
43845 2023-01-01 21:00:00  0.640239
43846 2023-01-01 22:00:00  0.624865
43847 2023-01-01 23:00:00  0.611403

[43848 rows x 2 columns]

In [7]:
main_df = main_df.rename(columns= {'Value': 'Aberfoyle'})
main_df

                Timestamp  Aberfoyle
0     2018-01-01 00:00:00   0.382068
1     2018-01-01 01:00:00   0.384540
2     2018-01-01 02:00:00   0.384540
3     2018-01-01 03:00:00   0.387731
4     2018-01-01 04:00:00   0.388086
...                   ...        ...
43843 2023-01-01 19:00:00   0.673899
43844 2023-01-01 20:00:00   0.655979
43845 2023-01-01 21:00:00   0.640239
43846 2023-01-01 22:00:00   0.624865
43847 2023-01-01 23:00:00   0.611403

[43848 rows x 2 columns]

Ayr

In [8]:
df = pd.read_csv('Ayr.csv')
df.head()

             Timestamp      Value
0  2018-04-16T13:00:00        NaN
1  2018-04-16T14:00:00  18.771115
2  2018-04-16T15:00:00  19.000262
3  2018-04-16T16:00:00        NaN
4  2018-05-29T06:00:00        NaN

In [9]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp      Value
0 2018-04-16 13:00:00        NaN
1 2018-04-16 14:00:00  18.771115
2 2018-04-16 15:00:00  19.000262
3 2018-04-16 16:00:00        NaN
4 2018-05-29 06:00:00        NaN

In [10]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Aberfoyle       Value
0     2018-01-01 00:00:00   0.382068 -999.000000
1     2018-01-01 01:00:00   0.384540 -999.000000
2     2018-01-01 02:00:00   0.384540 -999.000000
3     2018-01-01 03:00:00   0.387731 -999.000000
4     2018-01-01 04:00:00   0.388086 -999.000000
...                   ...        ...         ...
43843 2023-01-01 19:00:00   0.673899   68.246566
43844 2023-01-01 20:00:00   0.655979   70.137500
43845 2023-01-01 21:00:00   0.640239   71.650000
43846 2023-01-01 22:00:00   0.624865   72.587500
43847 2023-01-01 23:00:00   0.611403   74.287500

[43848 rows x 3 columns]

In [11]:
main_df = main_df.rename(columns= {'Value': 'Ayr'})
main_df

                Timestamp  Aberfoyle         Ayr
0     2018-01-01 00:00:00   0.382068 -999.000000
1     2018-01-01 01:00:00   0.384540 -999.000000
2     2018-01-01 02:00:00   0.384540 -999.000000
3     2018-01-01 03:00:00   0.387731 -999.000000
4     2018-01-01 04:00:00   0.388086 -999.000000
...                   ...        ...         ...
43843 2023-01-01 19:00:00   0.673899   68.246566
43844 2023-01-01 20:00:00   0.655979   70.137500
43845 2023-01-01 21:00:00   0.640239   71.650000
43846 2023-01-01 22:00:00   0.624865   72.587500
43847 2023-01-01 23:00:00   0.611403   74.287500

[43848 rows x 3 columns]

Blair Creek

In [12]:
df1 = pd.read_csv('BlairCreek.csv')
df1.head()

            Timestamp      Value
0  2018-01-01T00:00:00  0.162000
1  2018-01-01T01:00:00  0.162000
2  2018-01-01T02:00:00  0.162250
3  2018-01-01T03:00:00  0.156458
4  2018-01-01T04:00:00  0.149000

In [13]:
df1["Timestamp "] = pd.to_datetime(df1["Timestamp "])
df1 = df1.rename(columns= {"Timestamp ": "Timestamp"})
df1.head()

            Timestamp     Value
0 2018-01-01 00:00:00  0.162000
1 2018-01-01 01:00:00  0.162000
2 2018-01-01 02:00:00  0.162250
3 2018-01-01 03:00:00  0.156458
4 2018-01-01 04:00:00  0.149000

In [14]:
main_df = main_df.merge(df1[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Aberfoyle         Ayr     Value
0     2018-01-01 00:00:00   0.382068 -999.000000  0.162000
1     2018-01-01 01:00:00   0.384540 -999.000000  0.162000
2     2018-01-01 02:00:00   0.384540 -999.000000  0.162250
3     2018-01-01 03:00:00   0.387731 -999.000000  0.156458
4     2018-01-01 04:00:00   0.388086 -999.000000  0.149000
...                   ...        ...         ...       ...
43843 2023-01-01 19:00:00   0.673899   68.246566  6.112500
43844 2023-01-01 20:00:00   0.655979   70.137500  6.677500
43845 2023-01-01 21:00:00   0.640239   71.650000  6.511250
43846 2023-01-01 22:00:00   0.624865   72.587500  6.135000
43847 2023-01-01 23:00:00   0.611403   74.287500  5.809821

[43848 rows x 4 columns]

In [15]:
main_df = main_df.rename(columns= {'Value': 'BlairCreek'})
main_df

                Timestamp  Aberfoyle         Ayr  BlairCreek
0     2018-01-01 00:00:00   0.382068 -999.000000    0.162000
1     2018-01-01 01:00:00   0.384540 -999.000000    0.162000
2     2018-01-01 02:00:00   0.384540 -999.000000    0.162250
3     2018-01-01 03:00:00   0.387731 -999.000000    0.156458
4     2018-01-01 04:00:00   0.388086 -999.000000    0.149000
...                   ...        ...         ...         ...
43843 2023-01-01 19:00:00   0.673899   68.246566    6.112500
43844 2023-01-01 20:00:00   0.655979   70.137500    6.677500
43845 2023-01-01 21:00:00   0.640239   71.650000    6.511250
43846 2023-01-01 22:00:00   0.624865   72.587500    6.135000
43847 2023-01-01 23:00:00   0.611403   74.287500    5.809821

[43848 rows x 4 columns]

Bridgeport

In [16]:
df = pd.read_csv('Bridgeport.csv')
df.head()

             Timestamp      Value
0  2018-01-01T00:00:00  44.202684
1  2018-01-01T01:00:00  44.040912
2  2018-01-01T02:00:00  44.404860
3  2018-01-01T03:00:00  44.040912
4  2018-01-01T04:00:00  44.121798

In [17]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp      Value
0 2018-01-01 00:00:00  44.202684
1 2018-01-01 01:00:00  44.040912
2 2018-01-01 02:00:00  44.404860
3 2018-01-01 03:00:00  44.040912
4 2018-01-01 04:00:00  44.121798

In [18]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp  Aberfoyle         Ayr  BlairCreek      Value
0     2018-01-01 00:00:00   0.382068 -999.000000    0.162000  44.202684
1     2018-01-01 01:00:00   0.384540 -999.000000    0.162000  44.040912
2     2018-01-01 02:00:00   0.384540 -999.000000    0.162250  44.404860
3     2018-01-01 03:00:00   0.387731 -999.000000    0.156458  44.040912
4     2018-01-01 04:00:00   0.388086 -999.000000    0.149000  44.121798
...                   ...        ...         ...         ...        ...
43843 2023-01-01 19:00:00   0.673899   68.246566    6.112500  63.906250
43844 2023-01-01 20:00:00   0.655979   70.137500    6.677500  62.625000
43845 2023-01-01 21:00:00   0.640239   71.650000    6.511250  61.468750
43846 2023-01-01 22:00:00   0.624865   72.587500    6.135000  60.479167
43847 2023-01-01 23:00:00   0.611403   74.287500    5.809821  61.052083

[43848 rows x 5 columns]

In [19]:
main_df = main_df.rename(columns= {'Value': 'Bridgeport'})
main_df

                Timestamp  Aberfoyle         Ayr  BlairCreek  Bridgeport
0     2018-01-01 00:00:00   0.382068 -999.000000    0.162000   44.202684
1     2018-01-01 01:00:00   0.384540 -999.000000    0.162000   44.040912
2     2018-01-01 02:00:00   0.384540 -999.000000    0.162250   44.404860
3     2018-01-01 03:00:00   0.387731 -999.000000    0.156458   44.040912
4     2018-01-01 04:00:00   0.388086 -999.000000    0.149000   44.121798
...                   ...        ...         ...         ...         ...
43843 2023-01-01 19:00:00   0.673899   68.246566    6.112500   63.906250
43844 2023-01-01 20:00:00   0.655979   70.137500    6.677500   62.625000
43845 2023-01-01 21:00:00   0.640239   71.650000    6.511250   61.468750
43846 2023-01-01 22:00:00   0.624865   72.587500    6.135000   60.479167
43847 2023-01-01 23:00:00   0.611403   74.287500    5.809821   61.052083

[43848 rows x 5 columns]

Bridgeport WQ

In [20]:
df = pd.read_csv('BridgeportWQ.csv')
df.head()

             Timestamp    Value
0  2018-01-01T00:00:00  26.9320
1  2018-01-01T01:00:00  26.8254
2  2018-01-01T02:00:00  26.7106
3  2018-01-01T03:00:00  26.6204
4  2018-01-01T04:00:00  26.6122

In [21]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp    Value
0 2018-01-01 00:00:00  26.9320
1 2018-01-01 01:00:00  26.8254
2 2018-01-01 02:00:00  26.7106
3 2018-01-01 03:00:00  26.6204
4 2018-01-01 04:00:00  26.6122

In [22]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200
...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000

In [23]:
main_df = main_df.rename(columns= {'Value': 'BridgeportWQ'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200
...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000

Clair Creek

In [24]:
df = pd.read_csv('ClairCreek.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  0.048200
1  2018-01-01T01:00:00  0.048200
2  2018-01-01T02:00:00  0.047975
3  2018-01-01T03:00:00  0.046400
4  2018-01-01T04:00:00  0.045275

In [25]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  0.048200
1 2018-01-01 01:00:00  0.048200
2 2018-01-01 02:00:00  0.047975
3 2018-01-01 03:00:00  0.046400
4 2018-01-01 04:00:00  0.045275

In [26]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513

In [27]:
main_df = main_df.rename(columns= {'Value': 'ClairCreek'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513

Doon

In [28]:
df = pd.read_csv('Doon.csv')
df.head()

             Timestamp      Value
0  2018-01-01T00:00:00  15.136015
1  2018-01-01T01:00:00  15.150000
2  2018-01-01T02:00:00  15.163985
3  2018-01-01T03:00:00  15.177970
4  2018-01-01T04:00:00  15.191955

In [29]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp      Value
0 2018-01-01 00:00:00  15.136015
1 2018-01-01 01:00:00  15.150000
2 2018-01-01 02:00:00  15.163985
3 2018-01-01 03:00:00  15.177970
4 2018-01-01 04:00:00  15.191955

In [30]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200

In [31]:
main_df = main_df.rename(columns= {'Value': 'Doon'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200

Drayton

In [32]:
df = pd.read_csv('Drayton.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  1.633473
1  2018-01-01T01:00:00  1.611479
2  2018-01-01T02:00:00  1.615141
3  2018-01-01T03:00:00  1.607817
4  2018-01-01T04:00:00  1.589485

In [33]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  1.633473
1 2018-01-01 01:00:00  1.611479
2 2018-01-01 02:00:00  1.615141
3 2018-01-01 03:00:00  1.607817
4 2018-01-01 04:00:00  1.589485

In [34]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276

In [35]:
main_df = main_df.rename(columns= {'Value': 'Drayton'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276

Elmira

In [36]:
df = pd.read_csv('Elmira.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00   0.68
1  2018-01-01T01:00:00   0.68
2  2018-01-01T02:00:00   0.68
3  2018-01-01T03:00:00   0.68
4  2018-01-01T04:00:00   0.68

In [37]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00   0.68
1 2018-01-01 01:00:00   0.68
2 2018-01-01 02:00:00   0.68
3 2018-01-01 03:00:00   0.68
4 2018-01-01 04:00:00   0.68

In [38]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365

In [39]:
main_df = main_df.rename(columns= {'Value': 'Elmira'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365

Erbsville

In [40]:
df = pd.read_csv('Erbsville.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  0.135527
1  2018-01-01T01:00:00  0.135047
2  2018-01-01T02:00:00  0.135527
3  2018-01-01T03:00:00  0.136970
4  2018-01-01T04:00:00  0.135047

In [41]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  0.135527
1 2018-01-01 01:00:00  0.135047
2 2018-01-01 02:00:00  0.135527
3 2018-01-01 03:00:00  0.136970
4 2018-01-01 04:00:00  0.135047

In [42]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047
...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860

In [43]:
main_df = main_df.rename(columns= {'Value': 'Erbsville'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047
...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860

Floradale

In [44]:
df = pd.read_csv('Floradale.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  1.028997
1  2018-01-01T01:00:00  1.022004
2  2018-01-01T02:00:00  1.031338
3  2018-01-01T03:00:00  1.012669
4  2018-01-01T04:00:00  1.015000

In [45]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  1.028997
1 2018-01-01 01:00:00  1.022004
2 2018-01-01 02:00:00  1.031338
3 2018-01-01 03:00:00  1.012669
4 2018-01-01 04:00:00  1.015000

In [46]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000
...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792

In [47]:
main_df = main_df.rename(columns= {'Value': 'Floradale'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000
...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792

Keldon

In [48]:
df = pd.read_csv('Keldon.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  1.207453
1  2018-01-01T01:00:00  1.223004
2  2018-01-01T02:00:00  1.230818
3  2018-01-01T03:00:00  1.230835
4  2018-01-01T04:00:00  1.223056

In [49]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  1.207453
1 2018-01-01 01:00:00  1.223004
2 2018-01-01 02:00:00  1.230818
3 2018-01-01 03:00:00  1.230835
4 2018-01-01 04:00:00  1.223056

In [50]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708

In [51]:
main_df = main_df.rename(columns= {'Value': 'Keldon'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708

Leggatt

In [52]:
df = pd.read_csv('Leggatt.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  2.940143
1  2018-01-01T01:00:00  2.957151
2  2018-01-01T02:00:00  2.962889
3  2018-01-01T03:00:00  2.957201
4  2018-01-01T04:00:00  2.957189

In [53]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  2.940143
1 2018-01-01 01:00:00  2.957151
2 2018-01-01 02:00:00  2.962889
3 2018-01-01 03:00:00  2.957201
4 2018-01-01 04:00:00  2.957189

In [54]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380

In [55]:
main_df = main_df.rename(columns= {'Value': 'Leggatt'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380

MillCreek

In [56]:
df = pd.read_csv('MillCreek.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00  0.898
1  2018-01-01T01:00:00  0.902
2  2018-01-01T02:00:00  0.898
3  2018-01-01T03:00:00  0.902
4  2018-01-01T04:00:00  0.902

In [57]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00  0.898
1 2018-01-01 01:00:00  0.902
2 2018-01-01 02:00:00  0.898
3 2018-01-01 03:00:00  0.902
4 2018-01-01 04:00:00  0.902

In [58]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343

In [59]:
main_df = main_df.rename(columns= {'Value': 'MillCreek'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343

Moorefield

In [60]:
df = pd.read_csv('Moorefield.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  0.883397
1  2018-01-01T01:00:00  0.887479
2  2018-01-01T02:00:00  0.887479
3  2018-01-01T03:00:00  0.888838
4  2018-01-01T04:00:00  0.888838

In [61]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  0.883397
1 2018-01-01 01:00:00  0.887479
2 2018-01-01 02:00:00  0.887479
3 2018-01-01 03:00:00  0.888838
4 2018-01-01 04:00:00  0.888838

In [62]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000,0.883397
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000,0.887479
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000,0.887479
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000,0.888838
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000,0.888838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606,13.084098
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631,12.854528
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860,12.601612
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358,12.344837
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343,12.095341

In [63]:
main_df = main_df.rename(columns= {'Value': 'Moorefield'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek,Moorefield
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000,0.883397
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000,0.887479
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000,0.887479
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000,0.888838
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000,0.888838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606,13.084098
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631,12.854528
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860,12.601612
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358,12.344837
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343,12.095341

Phillipsburg

In [64]:
df = pd.read_csv('Phillipsburg.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  2.394857
1  2018-01-01T01:00:00  2.416549
2  2018-01-01T02:00:00  2.387635
3  2018-01-01T03:00:00  2.380400
4  2018-01-01T04:00:00  2.344251

In [65]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  2.394857
1 2018-01-01 01:00:00  2.416549
2 2018-01-01 02:00:00  2.387635
3 2018-01-01 03:00:00  2.380400
4 2018-01-01 04:00:00  2.344251

In [66]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek,Moorefield,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000,0.883397,2.394857
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000,0.887479,2.416549
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000,0.887479,2.387635
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000,0.888838,2.380400
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000,0.888838,2.344251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606,13.084098,61.677028
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631,12.854528,58.653723
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860,12.601612,55.564362
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358,12.344837,52.334574
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343,12.095341,49.293694

In [67]:
main_df = main_df.rename(columns= {'Value': 'Phillipsburg'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000,0.883397,2.394857
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000,0.887479,2.416549
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000,0.887479,2.387635
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000,0.888838,2.380400
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000,0.888838,2.344251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606,13.084098,61.677028
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631,12.854528,58.653723
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860,12.601612,55.564362
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358,12.344837,52.334574
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343,12.095341,49.293694

Road32

In [68]:
df = pd.read_csv('Road32.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  3.568644
1  2018-01-01T01:00:00  3.634335
2  2018-01-01T02:00:00  3.688094
3  2018-01-01T03:00:00  3.697868
4  2018-01-01T04:00:00  3.683207

In [69]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  3.568644
1 2018-01-01 01:00:00  3.634335
2 2018-01-01 02:00:00  3.688094
3 2018-01-01 03:00:00  3.697868
4 2018-01-01 04:00:00  3.683207

In [70]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047

In [71]:
main_df = main_df.rename(columns= {'Value': 'Road32'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Road32
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047

Victoria Road

In [72]:
df = pd.read_csv('VictoriaRoad.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  1.059240
1  2018-01-01T01:00:00  1.066568
2  2018-01-01T02:00:00  1.051899
3  2018-01-01T03:00:00  1.055549
4  2018-01-01T04:00:00  1.059232

In [73]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  1.059240
1 2018-01-01 01:00:00  1.066568
2 2018-01-01 02:00:00  1.051899
3 2018-01-01 03:00:00  1.055549
4 2018-01-01 04:00:00  1.059232

In [74]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Road32,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644,1.059240
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335,1.066568
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094,1.051899
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868,1.055549
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207,1.059232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513,0.456600
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228,0.456600
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446,0.456600
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927,0.456600
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047,0.456600

In [75]:
main_df = main_df.rename(columns= {'Value': 'VictoriaRoad'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Road32,VictoriaRoad
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644,1.059240
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335,1.066568
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094,1.051899
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868,1.055549
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207,1.059232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513,0.456600
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228,0.456600
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446,0.456600
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927,0.456600
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047,0.456600

Waldemar

In [76]:
df = pd.read_csv('Waldemar.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  6.571770
1  2018-01-01T01:00:00  6.589006
2  2018-01-01T02:00:00  6.554596
3  2018-01-01T03:00:00  6.545890
4  2018-01-01T04:00:00  6.537265

In [77]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  6.571770
1 2018-01-01 01:00:00  6.589006
2 2018-01-01 02:00:00  6.554596
3 2018-01-01 03:00:00  6.545890
4 2018-01-01 04:00:00  6.537265

In [78]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Road32,VictoriaRoad,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644,1.059240,6.571770
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335,1.066568,6.589006
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094,1.051899,6.554596
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868,1.055549,6.545890
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207,1.059232,6.537265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513,0.456600,26.698283
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228,0.456600,26.765158
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446,0.456600,26.984320
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927,0.456600,27.173024
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047,0.456600,27.610024

In [79]:
main_df = main_df.rename(columns= {'Value': 'Waldemar'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,Floradale,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Road32,VictoriaRoad,Waldemar
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,1.028997,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644,1.059240,6.571770
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,1.022004,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335,1.066568,6.589006
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,1.031338,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094,1.051899,6.554596
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,1.012669,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868,1.055549,6.545890
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,1.015000,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207,1.059232,6.537265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,1.120000,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513,0.456600,26.698283
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,0.785667,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228,0.456600,26.765158
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,0.913646,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446,0.456600,26.984320
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,0.759771,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927,0.456600,27.173024
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,0.799792,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047,0.456600,27.610024

WillowBrook

In [80]:
df = pd.read_csv('WillowBrook.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  1.142622
1  2018-01-01T01:00:00  1.123353
2  2018-01-01T02:00:00  1.156076
3  2018-01-01T03:00:00  1.156076
4  2018-01-01T04:00:00  1.156076

In [81]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  1.142622
1 2018-01-01 01:00:00  1.123353
2 2018-01-01 02:00:00  1.156076
3 2018-01-01 03:00:00  1.156076
4 2018-01-01 04:00:00  1.156076

In [82]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,...,Floradale,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Road32,VictoriaRoad,Waldemar,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,...,1.028997,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644,1.059240,6.571770,1.142622
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,...,1.022004,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335,1.066568,6.589006,1.123353
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,...,1.031338,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094,1.051899,6.554596,1.156076
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,...,1.012669,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868,1.055549,6.545890,1.156076
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,...,1.015000,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207,1.059232,6.537265,1.156076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,...,1.120000,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513,0.456600,26.698283,1.973442
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,...,0.785667,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228,0.456600,26.765158,2.023615
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,...,0.913646,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446,0.456600,26.984320,2.150197
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,...,0.759771,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927,0.456600,27.173024,2.248953
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,...,0.799792,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047,0.456600,27.610024,2.328807

In [83]:
main_df = main_df.rename(columns= {'Value': 'WillowBrook'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,...,Floradale,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Road32,VictoriaRoad,Waldemar,WillowBrook
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,...,1.028997,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644,1.059240,6.571770,1.142622
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,...,1.022004,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335,1.066568,6.589006,1.123353
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,...,1.031338,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094,1.051899,6.554596,1.156076
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,...,1.012669,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868,1.055549,6.545890,1.156076
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,...,1.015000,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207,1.059232,6.537265,1.156076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,...,1.120000,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513,0.456600,26.698283,1.973442
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,...,0.785667,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228,0.456600,26.765158,2.023615
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,...,0.913646,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446,0.456600,26.984320,2.150197
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,...,0.759771,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927,0.456600,27.173024,2.248953
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,...,0.799792,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047,0.456600,27.610024,2.328807

York

In [84]:
df = pd.read_csv('York.csv')
df.head()

             Timestamp      Value
0  2018-01-01T00:00:00  56.884066
1  2018-01-01T01:00:00  55.332323
2  2018-01-01T02:00:00  54.987491
3  2018-01-01T03:00:00  54.987491
4  2018-01-01T04:00:00  54.987491

In [85]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp      Value
0 2018-01-01 00:00:00  56.884066
1 2018-01-01 01:00:00  55.332323
2 2018-01-01 02:00:00  54.987491
3 2018-01-01 03:00:00  54.987491
4 2018-01-01 04:00:00  54.987491

In [86]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,...,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Road32,VictoriaRoad,Waldemar,WillowBrook,Value
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,...,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644,1.059240,6.571770,1.142622,56.884066
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,...,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335,1.066568,6.589006,1.123353,55.332323
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,...,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094,1.051899,6.554596,1.156076,54.987491
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,...,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868,1.055549,6.545890,1.156076,54.987491
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,...,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207,1.059232,6.537265,1.156076,54.987491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,...,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513,0.456600,26.698283,1.973442,70.339806
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,...,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228,0.456600,26.765158,2.023615,77.500000
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,...,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446,0.456600,26.984320,2.150197,86.687500
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,...,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927,0.456600,27.173024,2.248953,90.843750
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,...,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047,0.456600,27.610024,2.328807,97.281250

In [87]:
main_df = main_df.rename(columns= {'Value': 'York'})
main_df

,Timestamp,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,...,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Road32,VictoriaRoad,Waldemar,WillowBrook,York
0,2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,...,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644,1.059240,6.571770,1.142622,56.884066
1,2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,...,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335,1.066568,6.589006,1.123353,55.332323
2,2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,...,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094,1.051899,6.554596,1.156076,54.987491
3,2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,...,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868,1.055549,6.545890,1.156076,54.987491
4,2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,...,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207,1.059232,6.537265,1.156076,54.987491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,...,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513,0.456600,26.698283,1.973442,70.339806
43844,2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,...,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228,0.456600,26.765158,2.023615,77.500000
43845,2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,...,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446,0.456600,26.984320,2.150197,86.687500
43846,2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,...,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927,0.456600,27.173024,2.248953,90.843750
43847,2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,...,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047,0.456600,27.610024,2.328807,97.281250

In [88]:
main_df2 = main_df.copy()

In [89]:
main_df2.set_index("Timestamp", inplace = True)

In [90]:
main_df2

,Aberfoyle,Ayr,BlairCreek,Bridgeport,BridgeportWQ,ClairCreek,Doon,Drayton,Elmira,Erbsville,...,Keldon,Leggatt,MillCreek,Moorefield,Phillipsburg,Road32,VictoriaRoad,Waldemar,WillowBrook,York
Timestamp,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,0.382068,-999.000000,0.162000,44.202684,26.932000,0.048200,15.136015,1.633473,0.6800,0.135527,...,1.207453,2.940143,0.898000,0.883397,2.394857,3.568644,1.059240,6.571770,1.142622,56.884066
2018-01-01 01:00:00,0.384540,-999.000000,0.162000,44.040912,26.825400,0.048200,15.150000,1.611479,0.6800,0.135047,...,1.223004,2.957151,0.902000,0.887479,2.416549,3.634335,1.066568,6.589006,1.123353,55.332323
2018-01-01 02:00:00,0.384540,-999.000000,0.162250,44.404860,26.710600,0.047975,15.163985,1.615141,0.6800,0.135527,...,1.230818,2.962889,0.898000,0.887479,2.387635,3.688094,1.051899,6.554596,1.156076,54.987491
2018-01-01 03:00:00,0.387731,-999.000000,0.156458,44.040912,26.620400,0.046400,15.177970,1.607817,0.6800,0.136970,...,1.230835,2.957201,0.902000,0.888838,2.380400,3.697868,1.055549,6.545890,1.156076,54.987491
2018-01-01 04:00:00,0.388086,-999.000000,0.149000,44.121798,26.612200,0.045275,15.191955,1.589485,0.6800,0.135047,...,1.223056,2.957189,0.902000,0.888838,2.344251,3.683207,1.059232,6.537265,1.156076,54.987491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,0.673899,68.246566,6.112500,63.906250,66.752000,0.347083,69.145801,44.066383,3.1520,0.462402,...,11.259375,27.373467,2.099606,13.084098,61.677028,6.587513,0.456600,26.698283,1.973442,70.339806
2023-01-01 20:00:00,0.655979,70.137500,6.677500,62.625000,65.328000,0.346561,67.147994,42.725918,3.1205,0.433461,...,10.779167,26.982467,2.065631,12.854528,58.653723,6.661228,0.456600,26.765158,2.023615,77.500000
2023-01-01 21:00:00,0.640239,71.650000,6.511250,61.468750,63.942500,0.342432,66.370603,41.430100,3.0890,0.410553,...,10.689583,26.656740,2.033860,12.601612,55.564362,6.686446,0.456600,26.984320,2.150197,86.687500
2023-01-01 22:00:00,0.624865,72.587500,6.135000,60.479167,62.864375,0.337916,64.925872,40.200860,3.0575,0.390549,...,10.392708,26.371090,2.002358,12.344837,52.334574,6.670927,0.456600,27.173024,2.248953,90.843750
2023-01-01 23:00:00,0.611403,74.287500,5.809821,61.052083,64.304000,0.335513,63.314200,39.090276,3.0365,0.370860,...,9.792708,26.052380,1.969343,12.095341,49.293694,6.667047,0.456600,27.610024,2.328807,97.281250

In [91]:
main_df2.to_csv('RiverFlow.csv', encoding = 'utf-8-sig')
files.download('RiverFlow.csv')