In [205]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

# Combining all location data

In [206]:
main_df = pd.DataFrame()

In [207]:
t = pd.Series(pd.date_range(start= '2018-01-01 00:00:00', end= '2023-01-01 23:00:00', freq= 'H'))
main_df.insert(0, 'Timestamp', t)
main_df

                Timestamp
0     2018-01-01 00:00:00
1     2018-01-01 01:00:00
2     2018-01-01 02:00:00
3     2018-01-01 03:00:00
4     2018-01-01 04:00:00
...                   ...
43843 2023-01-01 19:00:00
43844 2023-01-01 20:00:00
43845 2023-01-01 21:00:00
43846 2023-01-01 22:00:00
43847 2023-01-01 23:00:00

[43848 rows x 1 columns]

Aberfoyle

In [208]:
df = pd.read_csv('Aberfoyle.csv')
df.head()

             Timestamp   Value
0  2018-02-19T16:00:00  0.6100
1  2018-02-19T17:00:00  0.6725
2  2018-02-19T18:00:00  0.7750
3  2018-02-19T19:00:00  0.9000
4  2018-02-19T20:00:00  0.9750

In [209]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp   Value
0 2018-02-19 16:00:00  0.6100
1 2018-02-19 17:00:00  0.6725
2 2018-02-19 18:00:00  0.7750
3 2018-02-19 19:00:00  0.9000
4 2018-02-19 20:00:00  0.9750

In [210]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp       Value
0     2018-01-01 00:00:00 -999.000000
1     2018-01-01 01:00:00 -999.000000
2     2018-01-01 02:00:00 -999.000000
3     2018-01-01 03:00:00 -999.000000
4     2018-01-01 04:00:00 -999.000000
...                   ...         ...
43843 2023-01-01 19:00:00    2.378990
43844 2023-01-01 20:00:00    2.409117
43845 2023-01-01 21:00:00    2.434339
43846 2023-01-01 22:00:00    2.445392
43847 2023-01-01 23:00:00    2.435825

[43848 rows x 2 columns]

In [211]:
main_df = main_df.rename(columns= {'Value': 'Aberfoyle'})
main_df

                Timestamp   Aberfoyle
0     2018-01-01 00:00:00 -999.000000
1     2018-01-01 01:00:00 -999.000000
2     2018-01-01 02:00:00 -999.000000
3     2018-01-01 03:00:00 -999.000000
4     2018-01-01 04:00:00 -999.000000
...                   ...         ...
43843 2023-01-01 19:00:00    2.378990
43844 2023-01-01 20:00:00    2.409117
43845 2023-01-01 21:00:00    2.434339
43846 2023-01-01 22:00:00    2.445392
43847 2023-01-01 23:00:00    2.435825

[43848 rows x 2 columns]

Below Shand

In [212]:
df = pd.read_csv('Below Shand.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00   0.69
1  2018-01-01T01:00:00   0.65
2  2018-01-01T02:00:00   0.66
3  2018-01-01T03:00:00   0.64
4  2018-01-01T04:00:00   0.62

In [213]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00   0.69
1 2018-01-01 01:00:00   0.65
2 2018-01-01 02:00:00   0.66
3 2018-01-01 03:00:00   0.64
4 2018-01-01 04:00:00   0.62

In [214]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp   Aberfoyle     Value
0     2018-01-01 00:00:00 -999.000000  0.690000
1     2018-01-01 01:00:00 -999.000000  0.650000
2     2018-01-01 02:00:00 -999.000000  0.660000
3     2018-01-01 03:00:00 -999.000000  0.640000
4     2018-01-01 04:00:00 -999.000000  0.620000
...                   ...         ...       ...
43843 2023-01-01 19:00:00    2.378990  2.238667
43844 2023-01-01 20:00:00    2.409117  2.221083
43845 2023-01-01 21:00:00    2.434339  2.158750
43846 2023-01-01 22:00:00    2.445392  2.132167
43847 2023-01-01 23:00:00    2.435825  2.121250

[43848 rows x 3 columns]

In [215]:
main_df = main_df.rename(columns= {'Value': 'Below Shand'})
main_df

                Timestamp   Aberfoyle  Below Shand
0     2018-01-01 00:00:00 -999.000000     0.690000
1     2018-01-01 01:00:00 -999.000000     0.650000
2     2018-01-01 02:00:00 -999.000000     0.660000
3     2018-01-01 03:00:00 -999.000000     0.640000
4     2018-01-01 04:00:00 -999.000000     0.620000
...                   ...         ...          ...
43843 2023-01-01 19:00:00    2.378990     2.238667
43844 2023-01-01 20:00:00    2.409117     2.221083
43845 2023-01-01 21:00:00    2.434339     2.158750
43846 2023-01-01 22:00:00    2.445392     2.132167
43847 2023-01-01 23:00:00    2.435825     2.121250

[43848 rows x 3 columns]

Blair

In [216]:
df = pd.read_csv('Blair.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  0.206374
1  2018-01-01T01:00:00  0.196196
2  2018-01-01T02:00:00  0.196017
3  2018-01-01T03:00:00  0.195839
4  2018-01-01T04:00:00  0.195660

In [217]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  0.206374
1 2018-01-01 01:00:00  0.196196
2 2018-01-01 02:00:00  0.196017
3 2018-01-01 03:00:00  0.195839
4 2018-01-01 04:00:00  0.195660

In [218]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp   Aberfoyle  Below Shand     Value
0     2018-01-01 00:00:00 -999.000000     0.690000  0.206374
1     2018-01-01 01:00:00 -999.000000     0.650000  0.196196
2     2018-01-01 02:00:00 -999.000000     0.660000  0.196017
3     2018-01-01 03:00:00 -999.000000     0.640000  0.195839
4     2018-01-01 04:00:00 -999.000000     0.620000  0.195660
...                   ...         ...          ...       ...
43843 2023-01-01 19:00:00    2.378990     2.238667  1.597083
43844 2023-01-01 20:00:00    2.409117     2.221083  1.650250
43845 2023-01-01 21:00:00    2.434339     2.158750  1.693833
43846 2023-01-01 22:00:00    2.445392     2.132167  1.711250
43847 2023-01-01 23:00:00    2.435825     2.121250  1.732833

[43848 rows x 4 columns]

In [219]:
main_df = main_df.rename(columns= {'Value': 'Blair'})
main_df

                Timestamp   Aberfoyle  Below Shand     Blair
0     2018-01-01 00:00:00 -999.000000     0.690000  0.206374
1     2018-01-01 01:00:00 -999.000000     0.650000  0.196196
2     2018-01-01 02:00:00 -999.000000     0.660000  0.196017
3     2018-01-01 03:00:00 -999.000000     0.640000  0.195839
4     2018-01-01 04:00:00 -999.000000     0.620000  0.195660
...                   ...         ...          ...       ...
43843 2023-01-01 19:00:00    2.378990     2.238667  1.597083
43844 2023-01-01 20:00:00    2.409117     2.221083  1.650250
43845 2023-01-01 21:00:00    2.434339     2.158750  1.693833
43846 2023-01-01 22:00:00    2.445392     2.132167  1.711250
43847 2023-01-01 23:00:00    2.435825     2.121250  1.732833

[43848 rows x 4 columns]

Brant

In [220]:
df1 = pd.read_csv('Brant.csv')
df1.head()

             Timestamp     Value
0  2018-01-01T00:00:00  0.418333
1  2018-01-01T01:00:00  0.420000
2  2018-01-01T02:00:00  0.415833
3  2018-01-01T03:00:00  0.413333
4  2018-01-01T04:00:00  0.411667

In [221]:
df1.Timestamp = pd.to_datetime(df1.Timestamp)
df1.head()

            Timestamp     Value
0 2018-01-01 00:00:00  0.418333
1 2018-01-01 01:00:00  0.420000
2 2018-01-01 02:00:00  0.415833
3 2018-01-01 03:00:00  0.413333
4 2018-01-01 04:00:00  0.411667

In [222]:
main_df = main_df.merge(df1[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

                Timestamp   Aberfoyle  Below Shand     Blair       Value
0     2018-01-01 00:00:00 -999.000000     0.690000  0.206374    0.418333
1     2018-01-01 01:00:00 -999.000000     0.650000  0.196196    0.420000
2     2018-01-01 02:00:00 -999.000000     0.660000  0.196017    0.415833
3     2018-01-01 03:00:00 -999.000000     0.640000  0.195839    0.413333
4     2018-01-01 04:00:00 -999.000000     0.620000  0.195660    0.411667
...                   ...         ...          ...       ...         ...
43843 2023-01-01 19:00:00    2.378990     2.238667  1.597083 -999.000000
43844 2023-01-01 20:00:00    2.409117     2.221083  1.650250 -999.000000
43845 2023-01-01 21:00:00    2.434339     2.158750  1.693833 -999.000000
43846 2023-01-01 22:00:00    2.445392     2.132167  1.711250 -999.000000
43847 2023-01-01 23:00:00    2.435825     2.121250  1.732833 -999.000000

[43848 rows x 5 columns]

In [223]:
main_df = main_df.rename(columns= {'Value': 'Brant'})
main_df

                Timestamp   Aberfoyle  Below Shand     Blair       Brant
0     2018-01-01 00:00:00 -999.000000     0.690000  0.206374    0.418333
1     2018-01-01 01:00:00 -999.000000     0.650000  0.196196    0.420000
2     2018-01-01 02:00:00 -999.000000     0.660000  0.196017    0.415833
3     2018-01-01 03:00:00 -999.000000     0.640000  0.195839    0.413333
4     2018-01-01 04:00:00 -999.000000     0.620000  0.195660    0.411667
...                   ...         ...          ...       ...         ...
43843 2023-01-01 19:00:00    2.378990     2.238667  1.597083 -999.000000
43844 2023-01-01 20:00:00    2.409117     2.221083  1.650250 -999.000000
43845 2023-01-01 21:00:00    2.434339     2.158750  1.693833 -999.000000
43846 2023-01-01 22:00:00    2.445392     2.132167  1.711250 -999.000000
43847 2023-01-01 23:00:00    2.435825     2.121250  1.732833 -999.000000

[43848 rows x 5 columns]

Bridgeport

In [224]:
df = pd.read_csv('Bridgeport.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00   0.69
1  2018-01-01T01:00:00   0.69
2  2018-01-01T02:00:00   0.69
3  2018-01-01T03:00:00   0.69
4  2018-01-01T04:00:00   0.69

In [225]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00   0.69
1 2018-01-01 01:00:00   0.69
2 2018-01-01 02:00:00   0.69
3 2018-01-01 03:00:00   0.69
4 2018-01-01 04:00:00   0.69

In [226]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Value
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69
...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00

In [227]:
main_df = main_df.rename(columns= {'Value': 'Bridgeport'})
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69
...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00

Glen Morris

In [228]:
df = pd.read_csv('Glen Morris.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00  0.980
1  2018-01-01T01:00:00  0.980
2  2018-01-01T02:00:00  0.975
3  2018-01-01T03:00:00  0.980
4  2018-01-01T04:00:00  0.965

In [229]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00  0.980
1 2018-01-01 01:00:00  0.980
2 2018-01-01 02:00:00  0.975
3 2018-01-01 03:00:00  0.980
4 2018-01-01 04:00:00  0.965

In [230]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Value
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833

In [231]:
main_df = main_df.rename(columns= {'Value': 'Glen Morris'})
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000
...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833

Breslau Victoria

In [232]:
df = pd.read_csv('Breslau Victoria.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  0.395833
1  2018-01-01T01:00:00  0.393333
2  2018-01-01T02:00:00  0.390000
3  2018-01-01T03:00:00  0.394167
4  2018-01-01T04:00:00  0.395833

In [233]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  0.395833
1 2018-01-01 01:00:00  0.393333
2 2018-01-01 02:00:00  0.390000
3 2018-01-01 03:00:00  0.394167
4 2018-01-01 04:00:00  0.395833

In [234]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Value
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000

In [235]:
main_df = main_df.rename(columns= {'Value': 'Breslau Victoria'})
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833
...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000

Mill Creek

In [236]:
df = pd.read_csv('Mill Creek.csv')
df.head()

             Timestamp  Value
0  2018-01-01T00:00:00    0.8
1  2018-01-01T01:00:00    0.8
2  2018-01-01T02:00:00    0.8
3  2018-01-01T03:00:00    0.8
4  2018-01-01T04:00:00    0.8

In [237]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp  Value
0 2018-01-01 00:00:00    0.8
1 2018-01-01 01:00:00    0.8
2 2018-01-01 02:00:00    0.8
3 2018-01-01 03:00:00    0.8
4 2018-01-01 04:00:00    0.8

In [238]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Value
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285

In [239]:
main_df = main_df.rename(columns= {'Value': 'Mill Creek'})
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000
...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285

Mount Vernon

In [240]:
df = pd.read_csv('Mount Vernon.csv')
df.head()

             Timestamp   Value
0  2018-01-01T00:00:00  0.5375
1  2018-01-01T01:00:00  0.5450
2  2018-01-01T02:00:00  0.5375
3  2018-01-01T03:00:00  0.5275
4  2018-01-01T04:00:00  0.5325

In [241]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp   Value
0 2018-01-01 00:00:00  0.5375
1 2018-01-01 01:00:00  0.5450
2 2018-01-01 02:00:00  0.5375
3 2018-01-01 03:00:00  0.5275
4 2018-01-01 04:00:00  0.5325

In [242]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Value
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245

In [243]:
main_df = main_df.rename(columns= {'Value': 'Mount Vernon'})
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500
...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245

New Dundee

In [244]:
df = pd.read_csv('New Dundee.csv')
df.head()

             Timestamp    Value
0  2018-01-01T00:00:00  3.40875
1  2018-01-01T01:00:00  3.40125
2  2018-01-01T02:00:00  3.39000
3  2018-01-01T03:00:00  3.37125
4  2018-01-01T04:00:00  3.37250

In [245]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp    Value
0 2018-01-01 00:00:00  3.40875
1 2018-01-01 01:00:00  3.40125
2 2018-01-01 02:00:00  3.39000
3 2018-01-01 03:00:00  3.37125
4 2018-01-01 04:00:00  3.37250

In [246]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,Value
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250
...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625

In [247]:
main_df = main_df.rename(columns= {'Value': 'New Dundee'})
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,New Dundee
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250
...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625

Road32

In [248]:
df = pd.read_csv('Road32.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  0.236667
1  2018-01-01T01:00:00  0.235833
2  2018-01-01T02:00:00  0.235833
3  2018-01-01T03:00:00  0.232500
4  2018-01-01T04:00:00  0.231667

In [249]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  0.236667
1 2018-01-01 01:00:00  0.235833
2 2018-01-01 02:00:00  0.235833
3 2018-01-01 03:00:00  0.232500
4 2018-01-01 04:00:00  0.231667

In [250]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,New Dundee,Value
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875,0.236667
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125,0.235833
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000,0.235833
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125,0.232500
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250,0.231667
...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875,2.121167
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250,2.131417
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500,2.190083
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625,2.258500
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625,2.343167

In [251]:
main_df = main_df.rename(columns= {'Value': 'Road32'})
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,New Dundee,Road32
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875,0.236667
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125,0.235833
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000,0.235833
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125,0.232500
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250,0.231667
...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875,2.121167
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250,2.131417
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500,2.190083
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625,2.258500
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625,2.343167

York

In [252]:
df = pd.read_csv('York.csv')
df.head()

             Timestamp      Value
0  2018-01-01T00:00:00  11.382145
1  2018-01-01T01:00:00  11.390796
2  2018-01-01T02:00:00  11.370280
3  2018-01-01T03:00:00  11.318098
4  2018-01-01T04:00:00  11.239248

In [253]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp      Value
0 2018-01-01 00:00:00  11.382145
1 2018-01-01 01:00:00  11.390796
2 2018-01-01 02:00:00  11.370280
3 2018-01-01 03:00:00  11.318098
4 2018-01-01 04:00:00  11.239248

In [254]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,New Dundee,Road32,Value
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875,0.236667,11.382145
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125,0.235833,11.390796
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000,0.235833,11.370280
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125,0.232500,11.318098
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250,0.231667,11.239248
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875,2.121167,-999.000000
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250,2.131417,-999.000000
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500,2.190083,-999.000000
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625,2.258500,-999.000000
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625,2.343167,-999.000000

In [255]:
main_df = main_df.rename(columns= {'Value': 'York'})
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,New Dundee,Road32,York
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875,0.236667,11.382145
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125,0.235833,11.390796
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000,0.235833,11.370280
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125,0.232500,11.318098
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250,0.231667,11.239248
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875,2.121167,-999.000000
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250,2.131417,-999.000000
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500,2.190083,-999.000000
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625,2.258500,-999.000000
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625,2.343167,-999.000000

Hanlon

In [256]:
df = pd.read_csv('Hanlon.csv')
df.head()

             Timestamp     Value
0  2018-01-01T00:00:00  0.239873
1  2018-01-01T01:00:00  0.240892
2  2018-01-01T02:00:00  0.241911
3  2018-01-01T03:00:00  0.242930
4  2018-01-01T04:00:00  0.253949

In [257]:
df.Timestamp = pd.to_datetime(df.Timestamp)
df.head()

            Timestamp     Value
0 2018-01-01 00:00:00  0.239873
1 2018-01-01 01:00:00  0.240892
2 2018-01-01 02:00:00  0.241911
3 2018-01-01 03:00:00  0.242930
4 2018-01-01 04:00:00  0.253949

In [258]:
main_df = main_df.merge(df[["Timestamp","Value"]], on="Timestamp", how="left")
main_df["Value"] = main_df["Value"].fillna(-999)
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,New Dundee,Road32,York,Value
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875,0.236667,11.382145,0.239873
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125,0.235833,11.390796,0.240892
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000,0.235833,11.370280,0.241911
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125,0.232500,11.318098,0.242930
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250,0.231667,11.239248,0.253949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875,2.121167,-999.000000,1.305667
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250,2.131417,-999.000000,1.341583
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500,2.190083,-999.000000,1.346500
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625,2.258500,-999.000000,1.350750
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625,2.343167,-999.000000,1.370083

In [259]:
main_df = main_df.rename(columns= {'Value': 'Hanlon'})
main_df

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,New Dundee,Road32,York,Hanlon
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875,0.236667,11.382145,0.239873
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125,0.235833,11.390796,0.240892
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000,0.235833,11.370280,0.241911
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125,0.232500,11.318098,0.242930
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250,0.231667,11.239248,0.253949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875,2.121167,-999.000000,1.305667
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250,2.131417,-999.000000,1.341583
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500,2.190083,-999.000000,1.346500
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625,2.258500,-999.000000,1.350750
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625,2.343167,-999.000000,1.370083

In [260]:
main_df2 = main_df.copy()

In [261]:
main_df2.set_index("Timestamp", inplace = True)

In [262]:
main_df2

,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,New Dundee,Road32,York,Hanlon
Timestamp,,,,,,,,,,,,,
2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875,0.236667,11.382145,0.239873
2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125,0.235833,11.390796,0.240892
2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000,0.235833,11.370280,0.241911
2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125,0.232500,11.318098,0.242930
2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250,0.231667,11.239248,0.253949
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875,2.121167,-999.000000,1.305667
2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250,2.131417,-999.000000,1.341583
2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500,2.190083,-999.000000,1.346500
2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625,2.258500,-999.000000,1.350750
2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625,2.343167,-999.000000,1.370083

In [263]:
main_df2.to_csv('Water_Temperature.csv', encoding = 'utf-8-sig')
files.download('Water_Temperature.csv')

# **Interpolation of Missing values**

In [264]:
wt = pd.read_csv("Water_Temperature.csv")
wt

,Timestamp,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,New Dundee,Road32,York,Hanlon
0,2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875,0.236667,11.382145,0.239873
1,2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125,0.235833,11.390796,0.240892
2,2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000,0.235833,11.370280,0.241911
3,2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125,0.232500,11.318098,0.242930
4,2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250,0.231667,11.239248,0.253949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43843,2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875,2.121167,-999.000000,1.305667
43844,2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250,2.131417,-999.000000,1.341583
43845,2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500,2.190083,-999.000000,1.346500
43846,2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625,2.258500,-999.000000,1.350750
43847,2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625,2.343167,-999.000000,1.370083

In [265]:
wt.set_index("Timestamp", inplace= True)

In [266]:
wt

,Aberfoyle,Below Shand,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Mill Creek,Mount Vernon,New Dundee,Road32,York,Hanlon
Timestamp,,,,,,,,,,,,,
2018-01-01 00:00:00,-999.000000,0.690000,0.206374,0.418333,0.69,0.980000,0.395833,0.800000,0.537500,3.40875,0.236667,11.382145,0.239873
2018-01-01 01:00:00,-999.000000,0.650000,0.196196,0.420000,0.69,0.980000,0.393333,0.800000,0.545000,3.40125,0.235833,11.390796,0.240892
2018-01-01 02:00:00,-999.000000,0.660000,0.196017,0.415833,0.69,0.975000,0.390000,0.800000,0.537500,3.39000,0.235833,11.370280,0.241911
2018-01-01 03:00:00,-999.000000,0.640000,0.195839,0.413333,0.69,0.980000,0.394167,0.800000,0.527500,3.37125,0.232500,11.318098,0.242930
2018-01-01 04:00:00,-999.000000,0.620000,0.195660,0.411667,0.69,0.965000,0.395833,0.800000,0.532500,3.37250,0.231667,11.239248,0.253949
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,2.378990,2.238667,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.731545,2.753595,1.42875,2.121167,-999.000000,1.305667
2023-01-01 20:00:00,2.409117,2.221083,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.754835,2.742764,1.37250,2.131417,-999.000000,1.341583
2023-01-01 21:00:00,2.434339,2.158750,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.761220,2.726461,1.27500,2.190083,-999.000000,1.346500
2023-01-01 22:00:00,2.445392,2.132167,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.752980,2.702530,1.17625,2.258500,-999.000000,1.350750
2023-01-01 23:00:00,2.435825,2.121250,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.743285,2.668245,1.12625,2.343167,-999.000000,1.370083

In [267]:
#Percentage of Missing values
l = len(wt)
for i in range(1, len(wt.columns)):
  m = wt.iloc[ : , i].isin([-999]).sum(axis= 0)
  p = 100*m/l
  print(wt.columns[i], "         ",p)

Below Shand           29.51559934318555
Blair           2.2600802773216566
Brant           9.079091406677614
Bridgeport           8.059660645867542
Glen Morris           16.83087027914614
Breslau Victoria           6.586389345010034
Mill Creek           62.47035212552454
Mount Vernon           63.21382959313994
New Dundee           71.56996898376208
Road32           2.419722678343368
York           13.913975551906587
Hanlon           8.953658091589126

Dropping Mill Creek, New Dundee, Mount Vernon and Below Shand

In [268]:
wt.drop(columns= ["Mill Creek", "New Dundee", "Mount Vernon", "Below Shand"], inplace= True)
wt

,Aberfoyle,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,-999.000000,0.206374,0.418333,0.69,0.980000,0.395833,0.236667,11.382145,0.239873
2018-01-01 01:00:00,-999.000000,0.196196,0.420000,0.69,0.980000,0.393333,0.235833,11.390796,0.240892
2018-01-01 02:00:00,-999.000000,0.196017,0.415833,0.69,0.975000,0.390000,0.235833,11.370280,0.241911
2018-01-01 03:00:00,-999.000000,0.195839,0.413333,0.69,0.980000,0.394167,0.232500,11.318098,0.242930
2018-01-01 04:00:00,-999.000000,0.195660,0.411667,0.69,0.965000,0.395833,0.231667,11.239248,0.253949
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,2.378990,1.597083,-999.000000,-999.00,2.291333,-999.000000,2.121167,-999.000000,1.305667
2023-01-01 20:00:00,2.409117,1.650250,-999.000000,-999.00,2.351750,-999.000000,2.131417,-999.000000,1.341583
2023-01-01 21:00:00,2.434339,1.693833,-999.000000,-999.00,2.349333,-999.000000,2.190083,-999.000000,1.346500
2023-01-01 22:00:00,2.445392,1.711250,-999.000000,-999.00,2.341333,-999.000000,2.258500,-999.000000,1.350750
2023-01-01 23:00:00,2.435825,1.732833,-999.000000,-999.00,2.331833,-999.000000,2.343167,-999.000000,1.370083

In [269]:
wt[wt == -999] = np.nan
wt.isin([np.nan]).sum(axis= 0)

Aberfoyle           26720
Blair                 991
Brant                3981
Bridgeport           3534
Glen Morris          7380
Breslau Victoria     2888
Road32               1061
York                 6101
Hanlon               3926
dtype: int64

In [270]:
#Percentage of Missing values
l = len(wt)
for i in range(1, len(wt.columns)):
  m = wt.iloc[ : , i].isin([np.nan]).sum(axis= 0)
  p = 100*m/l
  print(wt.columns[i], "         ",p)

Blair           2.2600802773216566
Brant           9.079091406677614
Bridgeport           8.059660645867542
Glen Morris           16.83087027914614
Breslau Victoria           6.586389345010034
Road32           2.419722678343368
York           13.913975551906587
Hanlon           8.953658091589126

In [271]:
wt_linear  = wt.interpolate(method= "linear")

In [272]:
wt_linear

,Aberfoyle,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,NaN,0.206374,0.418333,0.690,0.980000,0.395833,0.236667,11.382145,0.239873
2018-01-01 01:00:00,NaN,0.196196,0.420000,0.690,0.980000,0.393333,0.235833,11.390796,0.240892
2018-01-01 02:00:00,NaN,0.196017,0.415833,0.690,0.975000,0.390000,0.235833,11.370280,0.241911
2018-01-01 03:00:00,NaN,0.195839,0.413333,0.690,0.980000,0.394167,0.232500,11.318098,0.242930
2018-01-01 04:00:00,NaN,0.195660,0.411667,0.690,0.965000,0.395833,0.231667,11.239248,0.253949
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,2.378990,1.597083,9.098750,0.779,2.291333,1.857000,2.121167,0.536000,1.305667
2023-01-01 20:00:00,2.409117,1.650250,9.098750,0.779,2.351750,1.857000,2.131417,0.536000,1.341583
2023-01-01 21:00:00,2.434339,1.693833,9.098750,0.779,2.349333,1.857000,2.190083,0.536000,1.346500
2023-01-01 22:00:00,2.445392,1.711250,9.098750,0.779,2.341333,1.857000,2.258500,0.536000,1.350750
2023-01-01 23:00:00,2.435825,1.732833,9.098750,0.779,2.331833,1.857000,2.343167,0.536000,1.370083

In [273]:
#Percentage of Missing values
l = len(wt)
for i in range(1, len(wt.columns)):
  m = wt_linear.iloc[ : , i].isin([np.nan]).sum(axis= 0)
  p = 100*m/l
  print(wt_linear.columns[i], "         ", p)

Blair           0.0
Brant           0.0
Bridgeport           0.0
Glen Morris           0.0
Breslau Victoria           0.0
Road32           0.0
York           0.0
Hanlon           0.0

In [274]:
#Checking for negative values as decomposition wtes not work with negative and zero values
wt_linear[wt_linear < 0].sum()

Aberfoyle              0.000000
Blair                 -4.247242
Brant                -39.582250
Bridgeport          -187.549650
Glen Morris         -314.287990
Breslau Victoria   -1993.259181
Road32             -7182.183259
York                 -59.118652
Hanlon              -236.043089
dtype: float64

In [275]:
wt_linear[wt_linear < 0].count()

Aberfoyle              0
Blair                 41
Brant                125
Bridgeport           536
Glen Morris         1255
Breslau Victoria    4716
Road32              8419
York                 345
Hanlon               530
dtype: int64

In [276]:
wt.interpolate(method= "linear", inplace= True)

In [277]:
wt[wt < 0].count()

Aberfoyle              0
Blair                 41
Brant                125
Bridgeport           536
Glen Morris         1255
Breslau Victoria    4716
Road32              8419
York                 345
Hanlon               530
dtype: int64

In [278]:
wt[wt == 0].count()

Aberfoyle           0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [279]:
wt

,Aberfoyle,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,NaN,0.206374,0.418333,0.690,0.980000,0.395833,0.236667,11.382145,0.239873
2018-01-01 01:00:00,NaN,0.196196,0.420000,0.690,0.980000,0.393333,0.235833,11.390796,0.240892
2018-01-01 02:00:00,NaN,0.196017,0.415833,0.690,0.975000,0.390000,0.235833,11.370280,0.241911
2018-01-01 03:00:00,NaN,0.195839,0.413333,0.690,0.980000,0.394167,0.232500,11.318098,0.242930
2018-01-01 04:00:00,NaN,0.195660,0.411667,0.690,0.965000,0.395833,0.231667,11.239248,0.253949
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,2.378990,1.597083,9.098750,0.779,2.291333,1.857000,2.121167,0.536000,1.305667
2023-01-01 20:00:00,2.409117,1.650250,9.098750,0.779,2.351750,1.857000,2.131417,0.536000,1.341583
2023-01-01 21:00:00,2.434339,1.693833,9.098750,0.779,2.349333,1.857000,2.190083,0.536000,1.346500
2023-01-01 22:00:00,2.445392,1.711250,9.098750,0.779,2.341333,1.857000,2.258500,0.536000,1.350750
2023-01-01 23:00:00,2.435825,1.732833,9.098750,0.779,2.331833,1.857000,2.343167,0.536000,1.370083

In [280]:
wt[wt == 0].count()

Aberfoyle           0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [281]:
wt[wt == np.nan].count()

Aberfoyle           0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [282]:
wt[wt < 0].count()

Aberfoyle              0
Blair                 41
Brant                125
Bridgeport           536
Glen Morris         1255
Breslau Victoria    4716
Road32              8419
York                 345
Hanlon               530
dtype: int64

In [283]:
wt.isna().sum()

Aberfoyle           1192
Blair                  0
Brant                  0
Bridgeport             0
Glen Morris            0
Breslau Victoria       0
Road32                 0
York                   0
Hanlon                 0
dtype: int64

In [284]:
wt["Aberfoyle"].interpolate(method= "linear", inplace= True)

In [285]:
wt

,Aberfoyle,Blair,Brant,Bridgeport,Glen Morris,Breslau Victoria,Road32,York,Hanlon
Timestamp,,,,,,,,,
2018-01-01 00:00:00,NaN,0.206374,0.418333,0.690,0.980000,0.395833,0.236667,11.382145,0.239873
2018-01-01 01:00:00,NaN,0.196196,0.420000,0.690,0.980000,0.393333,0.235833,11.390796,0.240892
2018-01-01 02:00:00,NaN,0.196017,0.415833,0.690,0.975000,0.390000,0.235833,11.370280,0.241911
2018-01-01 03:00:00,NaN,0.195839,0.413333,0.690,0.980000,0.394167,0.232500,11.318098,0.242930
2018-01-01 04:00:00,NaN,0.195660,0.411667,0.690,0.965000,0.395833,0.231667,11.239248,0.253949
...,...,...,...,...,...,...,...,...,...
2023-01-01 19:00:00,2.378990,1.597083,9.098750,0.779,2.291333,1.857000,2.121167,0.536000,1.305667
2023-01-01 20:00:00,2.409117,1.650250,9.098750,0.779,2.351750,1.857000,2.131417,0.536000,1.341583
2023-01-01 21:00:00,2.434339,1.693833,9.098750,0.779,2.349333,1.857000,2.190083,0.536000,1.346500
2023-01-01 22:00:00,2.445392,1.711250,9.098750,0.779,2.341333,1.857000,2.258500,0.536000,1.350750
2023-01-01 23:00:00,2.435825,1.732833,9.098750,0.779,2.331833,1.857000,2.343167,0.536000,1.370083

In [286]:
wt.index.dtype

dtype('O')

# For Aberfoyle

In [287]:
aberfoyle = wt["Aberfoyle"]

In [288]:
aberfoyle.index = pd.to_datetime(aberfoyle.index)

In [289]:
aberfoyle.isna().sum()

1192

In [290]:
aberfoyle.index.dtype

dtype('<M8[ns]')

In [291]:
from dateutil.relativedelta import relativedelta

In [292]:
for i in range(0, 1192):
  dt = aberfoyle.index[i]
  dt1 = dt + relativedelta(years=1)
  dt2 = dt + relativedelta(years=2)
  dt3 = dt + relativedelta(years=3)
  dt4 = dt + relativedelta(years=4)
  aberfoyle[aberfoyle.index == dt] = (aberfoyle[aberfoyle.index == dt1].values + aberfoyle[aberfoyle.index == dt2].values + aberfoyle[aberfoyle.index == dt3].values + aberfoyle[aberfoyle.index == dt4].values)/4

In [293]:
aberfoyle.isna().sum()

0

In [295]:
wt["Aberfoyle"] = aberfoyle

In [297]:
wt.isna().sum()

Aberfoyle           0
Blair               0
Brant               0
Bridgeport          0
Glen Morris         0
Breslau Victoria    0
Road32              0
York                0
Hanlon              0
dtype: int64

In [298]:
wt.to_csv("wt_noNA.csv")
files.download("wt_noNA.csv")